[2020-01-24 17:01] uri-rodberg commented on #972
On GitHub I'm still logged in without having to login again.

![2020-01-24_1900](https://user-images.githubusercontent.com/12808124/73087824-c90c2e00-3edb-11ea-8f83-25651a0f4f95.png)

[2020-01-25 13:39] ankur29mac opened #973 "Wrong Django Version Geting Installed."
Hi, I tried installing Django's latest version using pipenv on my linux mint system.
command used :  **pipenv python 3.7 install django==3.0.2**

Wrong django version getting installed even after specfying the '3.0.2' version.
$python
Python 3.7.4 (default, Aug  5 2019, 20:10:18)
[GCC 7.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

(2, 2, 7, 'final', 0)

**P

[2020-01-25 13:55] felixxm commented on #973
This is the issue tracker for the website at djangoproject.com.

For getting support with using Django, please follow the links in [our documentation](https://docs.djangoproject.com/en/stable/faq/help/).

[2020-01-25 13:55] #973 closed

[2020-01-29 10:32] rixx opened #974 "Check colours for accessibility / WCAG compliance"
There are a couple of areas where the current colour contrasts between fonts and backgrounds fail the WCAG 2.0 colour contrast accessibility guidelines on the djangoproject.com pages.
It's mostly to do with the bright green compared with white/white-ish colours:

### Green on gray, [contrast 2.79](https://contrast-ratio.com/#rgb%2832%2C%20170%2C%20118%29-on-%23f8f8f8)

Fails all checks, mostly in

[2020-01-29 20:14] ryanwilsonperkin commented on #974
Looks like switching to using `color: white` for text on the green backdrops would be a relatively quick win here. It has an acceptable contrast ratio on both `#44B78B` which is used for the `.copy-banner` and on `#0C4B33` which is used for the navigation banner on the top.

[2020-01-29 20:24] rixx commented on #974
How did you check the contrast? The last example is exactly white on `#44B78B`, and the [contrast is 2.5](https://contrast-ratio.com/#white-on-%2344B78B), which doesn't even pass in large/bold fonts.

[2020-01-29 20:29] ryanwilsonperkin commented on #974
Interesting, I'd tried on http://colorsafe.co/ and it seemed to think the contrast ratio was much higher. My mistake

[2020-02-04 05:51] vishalrawat123 opened #976 "Dynamic fieldset is not showing as per intended"
When i wants to show dynamic fieldset in admin panel according the user type of current admin panel user (staff or superuser)
Sometime (on refreshing the page) It is not showing the field dynamic like in case of staff it shows the both approved_by_staff and approved_by_admin fields

![Screenshot from 2020-02-04 11-11-44](https://user-images.githubusercontent.com/58972615/73717229-2f484a80-473f-11e

[2020-02-04 07:07] felixxm commented on #976
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2020-02-04 07:07] #976 closed

[2020-02-29 08:02] uri-rodberg commented on #972
@carltongibson

Maybe this issue belongs to https://github.com/django/code.djangoproject.com/issues and not here?

Do you want to transfer this issue to https://github.com/django/code.djangoproject.com/issues?

[2020-03-01 17:58] pasraj opened #977 "add keyword suggestions to the documentation search bar"
https://docs.djangoproject.com/en/3.0/
In the suggestion bar there is no showing suggestion to user to getting easily information

[2020-03-01 18:08] pasraj commented on #977
https://docs.djangoproject.com/en/3.0/
In the suggestion bar there is no showing suggestion to user to getting easily information

[2020-03-12 01:28] largeDachshund opened #980 "Forms Example has a Form that is Out of Scope"
The example is on this page: [https://docs.djangoproject.com/en/3.0/topics/forms/](url)

Here's the bug:
from django.http import HttpResponseRedirect
from django.shortcuts import render

from .forms import NameForm
`
def get_name(request):
       # if this is a POST request we need to process the form data
       if request.method == 'POST':
        # create a form instance and populate it with da

[2020-03-12 01:34] #980 closed

[2020-03-12 01:35] largeDachshund commented on #980
No error.  Another look at the indents and I realized I was out of order.

Have a great day!

[2020-03-12 01:58] ubernostrum commented on #980
In the future, please be aware that this repository is just the code that runs the djangoproject.com site -- Django itself, including the documentation, uses [Trac](https://code.djangoproject.com/) for reporting and tracking issues.

[2020-03-15 07:48] DuanGavin-dxc opened #982 "A test"
this is just a test

[2020-03-15 07:58] #982 closed

[2020-03-18 11:38] rajvijay68 opened #983 "Error with Django 3 on AWS ElasticBeanStalk"
[code]

Got this with Django 3.0 on AWS.
Was working fine with Django 2.1

[2020-03-18 11:39] felixxm commented on #983
This is the issue tracker for the djangoproject.com website.

[2020-03-18 11:39] #983 closed

[2020-03-25 17:12] iamarnav opened #984 "Request parsing incorrect using a serializer in Django"
I had created the following serializers for request parsing of JSON data. However, while performing the operation, I get an unexpected error.
[code]
I have a json-format where I am passing the request data in the format:

[code]

While calling up the serializer using the following code:
[code]

I received the response as below:

[code]

Note: I cannot have the data format of JSON in the below form

[2020-03-25 17:17] iamarnav commented on #984
Hi @frankwiles, @bmispelon can you please guys help.?

[2020-03-25 17:31] felixxm commented on #984
This is the issue tracker for the djangoproject.com website

[2020-03-25 17:31] #984 closed

[2020-03-25 17:33] iamarnav commented on #984
@felixxm , can you please suggest some help please.

[2020-03-25 17:39] felixxm commented on #984
No, sorry, that's not a support channel. You could at least read our description: `### Please read this first:... ` before you created this incorrect issue.

[2020-03-25 17:40] iamarnav commented on #984
@felixxm its a humble request. Just a small request and small help please. I am stuck on this from past 2 days.

[2020-03-25 18:26] shaib commented on #984
@iamarnav We have added the text @felixxm referred to (which you chose to ignore) in order to make life easier on both you and us. You would be happier getting the help you need, instead of being scolded, and we could avoid writing, for who knows how many times, "Go To the djangoproject.com website, look at the bottom left for the 'Getting Help' link, and seek help there. Your questions are not we

[2020-04-03 08:44] nanlliu commented on #977
can I work on this? i guess we probably need to add js for that?

[2020-04-06 20:21] mdamien opened #987 "Code snippets header selection is not visible on Firefox"
When selection the text of the header of the snippet, it works well under Chrome:

![image](https://user-images.githubusercontent.com/1469823/78601479-22d29200-7855-11ea-9d57-5a1aa7364b44.png)

But under Firefox, the selection is not visible.

This is a bit problematic since the user often wants to copy-paste the filename in the header.

Example of a page where the bug can be reproduced: https://d

[2020-04-07 06:47] shaib commented on #987
Just to clarify: The filename in the header is visible. But when you select it with the mouse, you can't see what's selected.

[2020-04-15 07:19] uri-rodberg commented on #972
@felixxm
@carltongibson

[2020-04-15 07:21] carltongibson commented on #972
@uri-rodberg Please don't do that.

[2020-04-26 00:23] durey opened #988 "Misspelling in documentation"
The original English version of [this documentation page](https://docs.djangoproject.com/en/3.0/topics/i18n/translation/#standard-translation) contains an example in Spanish with a misspelling: "Hoy es 26 de Noviembre", since month names in Spanish always start with lowercase (except when starting a sentence, as obvious). It should be "Hoy es 26 de noviembre".

Of course, every single translation

[2020-04-27 07:30] felixxm commented on #988
This is the issue tracker for the djangoproject.com website, so for the future if you want to submit a bug report or a feature request to Django, you can find instructions [here](https://docs.djangoproject.com/en/stable/internals/contributing/bugs-and-features/).

I fixed this typo in https://github.com/django/django/pull/12805.

[2020-04-27 07:30] #988 closed

[2020-04-27 10:32] durey commented on #988
Thanks, @felixxm!

Just to notice it, in case someone decides to improve guidelines: I read that piece of info you just copied, but I still had no clue where the contents of the website were stored. I saw no info stating that the texts are stored in a database, or in a Github repo, or in which one. So, I assumed the Django repo is for the python library itself, and the Djangoproject.com repo is fo

[2020-04-27 10:41] felixxm commented on #988
Typo is in the Django documentation (docs.djangoproject.com), which is hosted by djangoproject.com. Documentation is a part of Django repository. We could probably clarify this, e.g.:

_"If you want to submit a bug report or a feature request to Django **(including [documentation](https://docs.djangoproject.com))**, you can find instructions here."_

What do you think?

[2020-04-27 10:43] durey commented on #988
Oh, that would be perfect!

[2020-05-04 14:49] yankolo opened #990 "'docker-compose up' not working on Windows"
When running `docker-compose up`, I receive the following error:
[code]

After further examination, I have discovered that this happens because of the CRLF line endings on Windows. Basically, the `core.autocrlf=true` Git setting (which is preselected by default on the Windows Git installer) changes LF line endings to CRLF line endings on check out. Those CRLF line endings prevent the proper execut

[2020-05-11 07:39] PietarTheWise opened #993 "AWS Django project throws AttributeError at /contact when sending a form"
I've been working on my first website with django, it's deployed to aws with zappa. The page is using Lambda, S3, Apigateway and cloudfront. When I get the api url from my terminal after deployment/update the form works fine. But when I try to send the form from my actual website urls I've set up in aws the website throws the following error:

[code]
My settings.py looks like this:

[code]

And he

[2020-05-11 07:41] felixxm commented on #993
This is the issue tracker for the djangoproject.com website, not a support channel.

[2020-05-11 07:41] #993 closed

[2020-05-12 20:02] wsvincent opened #994 "Updated Fundraising page"
Hi all,

Our [fundraising page](https://github.com/django/djangoproject.com/blob/master/djangoproject/templates/fundraising/index.html#L141) could use a refresh to reflect the addition of Github Sponsors as well as our [official merchandise store](https://django.threadless.com) which has modest sales given it is not well represented.

Absent a redesign of the page, which probably is warranted at s

[2020-05-21 08:37] claudep opened #997 "Translated docs no longer built"
I discovered that the translated documentations are not built any longer, at least for one month now.

You can check that typically by comparing:
https://docs.djangoproject.com/en/3.0/topics/security/
https://docs.djangoproject.com/fr/3.0/topics/security/
The last sentence about security topics in Mozilla (Django commit 060d9d4229c on 2020-04-22) is not present in the French docs.

[2020-05-21 10:16] felixxm commented on #997
This is caused by https://github.com/django/django/commit/1cdfe8d91215eefaa18c398069dd9c6879a9511d, because we have mismatched backticks in translations, e.g.
[code]
We should change this to a warning.

[2020-05-21 10:40] claudep commented on #997
Many thanks Mariusz for the debug! I'll still try to fix the offending translation(s).

[2020-05-21 10:49] claudep commented on #997
@felixxm Do you have a full log of those errors?

[2020-05-21 10:59] felixxm commented on #997
Sent.

[2020-05-21 13:09] claudep commented on #997
Thanks, I just pushed a translation update with many fixes, but very difficult to say if all are solved (I admit I didn't run the build locally).

I guess that changing the error to warning will partially ruin the intended effect of catching those errors in the original docs in the CI, but on the other side, it's too much effort to ensure that translations are clean in this regard.

[2020-05-21 21:26] felixxm commented on #997
I found few more:
[code]
It looks that fixed versions are not "reviewed" in Transifex.

I will try to fix backticks check in the next week.

[2020-05-22 07:40] claudep commented on #997
I fixed some more. Note that the `reviewed` state on Transifex has no effect on fetched translations, we are fetching all translated strings.

[2020-05-22 19:04] felixxm commented on #997
Thanks :+1:

[2020-05-23 12:31] knyghty commented on #729
This also happens on some docs pages, e.g. https://docs.djangoproject.com/en/3.0/ref/templates/api/

It's caused here by the long names in the sidebar, e.g. `django.contrib.messages.context_processors.messages`.

It can be fixed by setting `overflow-wrap: break-word` somewhere relevant, but this fix isn't beautiful as it doesn't break in very good places. I'm not sure if it's possible to add `&shy

[2020-05-26 11:11] gauravvjn opened #999 "Community blog missed for Approved Feed"
I submitted a post a few days ago https://www.pyscoop.com/security-in-the-django-application/
and it's been more than 10 days, I don't see the post appearing on the page(https://www.djangoproject.com/community/blogs/) yet. However, there is another post from the same RSS Feed from my blog is appearing here. So the issue is, 1 post is appearing and another one is not from the same Feed?

There is n

[2020-05-26 13:37] MarkusH commented on #999
How/where did you submit the post? The second link (https://www.djangoproject.com/community/blogs/) is a "planet", collecting blog posts from several blogs out there, automatically.

[2020-05-26 14:05] gjain0 commented on #999
@MarkusH, I added it here https://www.djangoproject.com/community/add/blogs/.
I hope anyone can add here or is it limited to specific blogs?

On a similar note, I have two questions.

1) How do you collect blogs automatically from several blogs? Is there a list you maintain at your end? If so, what is the procedure/criteria to include my blog there?

2) There is another section called **Links**: h

[2020-05-27 08:30] carltongibson commented on #994
Hi @wsvincent. Is this something you've worked on, or is it still at the ideas phase?

More or less, _Yes, super_ but what needs to happen to resolve this?

[2020-05-27 11:49] claudep commented on #997
Did you see more errors preventing the build recently?

[2020-05-27 18:33] felixxm commented on #997
Yes:
[code]
but we probably have more of them :disappointed:

[2020-05-27 18:56] claudep commented on #997
Argh... is the plan still to convert the backtick check to a warning?

[2020-05-27 19:07] felixxm commented on #997
Yes, it's on my list.

[2020-05-31 05:21] Rahul-Gothwal opened #1000 "An error occurred while installing django"
Hello,
I was trying to install Django on my machine and encountered this error
[code]
the command i wrote was
[code]
i've been trying to install from last two days. first i encountered this [issue](https://github.com/pypa/pipenv/issues/4297) but somehow maned to resolve it by upgrading my anaconda and python. But now faced a new one, please if someone can help.

[2020-05-31 13:50] frostming commented on #1000
You are still using Python 2.7, AFAICT

[2020-05-31 14:07] Rahul-Gothwal commented on #1000
no i am not
after running ```bash
samsepi0l@kali:~$ python --version
[code]
you should also check this [issue](https://github.com/pypa/pipenv/issues/4297) which i was getting before but somehow i managed to resolve that

[2020-05-31 18:19] shaib commented on #1000
@Rahul-Gothwal Two points:

1) The error message you got from pipenv clearly indicates that it is operating with Python 2.7. You don't get the `DEPRECATION: ...` text under Python 3, and the list of available versions for Django stops at 1.11.x -- the last version to support Python 2.7.

2) More importantly, this is the error tracker for the Django project website. This is NOT a support channel. P

[2020-05-31 18:28] carltongibson commented on #1000
Hi @Rahul-Gothwal.

I'm going to close this, because @shaib's right, it's not a support channel, but let me see if I can help you.

I think skip `pipenv`: it just complicates matters.

Start from just Python 3.7:

[code]

I hope that gets you up and running.

[2020-05-31 18:28] #1000 closed

[2020-06-01 03:46] Rahul-Gothwal commented on #1000
Thanks @shaib and @carltongibson , and i am sorry for posting it here...
will keep that in mind from now.

[2020-06-02 09:11] ChrisCrossCrash opened #1002 "Please make the right column in the documentation collapsable"
I often split my monitor vertically, with the Django docs on one side and my IDE on the other. However, the right column on the docs site takes up a lot of unnecessary space on my screen.

I would like to propose that the right column be made collapsible, similar to how it is for the [official Python documentation](https://docs.python.org/3/).

Thanks for your consideration.

![improvement](https:

[2020-06-03 09:46] felixxm commented on #997
Fixed in https://github.com/django/django/commit/36a2e9607e3069e875eedfd814d4473d9b6811cb.

[2020-06-03 09:46] #997 closed

[2020-06-03 11:39] claudep commented on #997
Awesome :+1:

[2020-06-05 09:04] stefins opened #1003 "Remove Google Fonts"
Would you be willing to remove this Google Fonts  from this website? There are better alternatives available
Some reputable alternatives can be seen here: https://switching.software/replace/google-fonts/

[2020-06-05 16:00] TheEvilSkeleton commented on #1003
i second this

[2020-06-05 21:03] resynth1943 commented on #1003
I third this.

[2020-06-05 21:04] taminaru commented on #1003
I fourth this

[2020-06-08 10:53] bobycloud commented on #1003
I fifth this.

[2020-06-24 16:45] carltongibson opened #1005 "Malcolm Tredinnick Memorial Prize listing not updated for 2019"
https://www.djangoproject.com/foundation/prizes/

We've got Kojo 2018, but not Jeff 2019.

Announcement post was here https://www.djangoproject.com/weblog/2019/dec/17/2019-malcolm-tredinnick-prize--jeff-triplett/

[2020-06-25 09:28] #1005 closed

[2020-07-10 11:09] fx-it opened #1007 "wget GEOS"
On the page https://docs.djangoproject.com/en/3.0/ref/contrib/gis/install/geolibs/  the command:
`wget https://download.osgeo.org/geos/geos-X.Y.Z.tar.bz2` returns:
2020-07-10 16:07:28 ERROR 404: Not Found.

[2020-07-10 11:10] #1007 closed

[2020-07-12 13:35] kavinvalli opened #1008 "requirements/dev.txt"
### Please read this first:

This is the issue tracker for the website at djangoproject.com, **not** for Django itself.

If you are looking for help or support with using Django, please follow the links in [our documentation](https://docs.djangoproject.com/en/stable/faq/help/).

If you want to submit a bug report or a feature request to Django (including [documentation](https://docs.djangoproject.

[2020-07-12 13:35] kavin25 commented on #1008
It is causing lot of problems

[2020-07-19 12:24] jatin-codes opened #1010 "Question- What sets CSRF_COOKIE under request.META ?"
Currently facing an issue where if csrftoken pased under request headers as-
```X-CSRFToken: _csrf_token_value_```

CsrfViewMiddleware class tries to validate it against the one under `request.META` and `request.POST.get('csrfmiddlewaretoken', '')`  which does not match and raises an exception of bad token (`REASON_BAD_TOKEN = "CSRF token missing or incorrect."`)

1. How/why are they 2 different v

[2020-07-19 13:01] felixxm commented on #1010
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2020-08-04 14:34] jefftriplett commented on #994
Can we throw some community at this issue to make it happen? I tweeted out a reminder about the store yesterday and I think we had three sales from it. If one of my tweets is three sales, then I bet adding this feature will be hundreds of sales.

[2020-08-04 14:38] wsvincent commented on #994
Confirm we have several sales from @jefftriplett 's tweet. I'd love if someone would update the text to make merch store and Github Sponsor links more prominent on this page but can't myself right now.

[2020-08-04 14:56] carltongibson commented on #994
Perhaps an email to the DSF Members list? — it needs someone with a few hours of bandwidth to get it going.

[2020-08-05 02:23] imkaka commented on #994
@wsvincent I will be happy to work on it, please guide me in this.

[2020-08-05 09:58] jnns commented on #964
Sorry to bother again with just another report but no solution: right now, documentation for **3.1** and **dev** is lacking indexing and a search doesn't provide results. All other versions below are working fine.

[2020-08-05 10:05] felixxm commented on #964
@jnns It works now.

[2020-08-05 21:42] marksweb commented on #994
Hello,

I saw a tweet from @jefftriplett & thought this sounded like something I could help out with.

Is this the kind of thing you had in mind?

![Screenshot 2020-08-05 at 22 40 34](https://user-images.githubusercontent.com/1461191/89466969-b0bf7a80-d76c-11ea-9935-b6fe2f5f0799.png)

[2020-08-06 04:26] jefftriplett commented on #994
@marksweb thank you, I think that's a great start.

@carljm @wsvincent thoughts?

would we want to do a follow-up ticket to pull in / list sponsors since that's a much larger project? We can automate it, but that takes more coordination.

[2020-08-06 13:12] wsvincent commented on #994
Hi @marksweb,

I think the simplest thing is to move the "Other ways to give" section to the top spot, so right above where "Why give to the Django Software Foundation" is now but under the "Support" section.

Within it, probably having the Github and merch links first makes sense given they account for far more $ to the DSF than the other two.

So, similar to what you suggested:

* [GitHub Sponso

[2020-08-06 14:04] marksweb commented on #994
Thanks @wsvincent - I'll shuffle things around & put together another screenshot.

[2020-08-06 14:24] marksweb commented on #994
@wsvincent @jefftriplett

Ok this makes so much more sense at the top there having moved it & read the page through.

I've also put it in the footer - not sure how you'd feel about that but the focus seems to be on making sure people see this, so worth looking at I think.

![screencapture-djangoproject-localhost-8000-fundraising-2020-08-06-15_21_30](https://user-images.githubusercontent.com/146119

[2020-08-06 18:01] wsvincent commented on #994
That looks pretty awesome to me. Others?

[2020-08-06 19:16] carltongibson commented on #994
This looks great.

I have one query: we have the **Donate** button, then right below it, we have _Go to GitHub sponsors, and pay from $5/month_.

GitHub Sponsors is great, but do we want that link there? It seems to me a distraction from the **Donate** button.

[2020-08-06 19:24] jefftriplett commented on #994
Looks great to me.

Re: "Go to GitHub sponsors, and pay from $5/month." -- Unless the text changed, I see "Become..." which looks fine to me.

[2020-08-06 19:41] carltongibson commented on #994
My point isn't the text, I was paraphrasing. 🙂

Rather, is this the place to mention GitHub Sponsors at all?

The analogy is the e-commerce checkout: vendors systematically remove distractions/options so as the guide users better to the desired action.

Our desired action is the **Donate** button no?

So should we not avoid mentioning alternatives, especially priming a low value like $5, when if t

[2020-08-06 20:27] wsvincent commented on #994
I see Carlton’s point. I think he’s correct to leave it off actually. Keep the rest—especially merch—but GH sponsors makes more sense in the GH world vs here for a number of reasons.

[2020-08-06 22:19] marksweb commented on #994
Thanks @carltongibson

I've removed the github donate links & pushed the changes (ref above this comment).

If you're happy I'll open a PR.

FYI @wsvincent @jefftriplett

[2020-08-07 01:46] jefftriplett commented on #994
@marksweb this is great. thank you! (sorry, to keep dragging this out)

@carltongibson @wsvincent I disagree. Who cares if they use one over the other?

By removing GitHub sponsors from the webpage, we are back to not promoting the option at all. When I visit the page, I want to know how to support the DSF.

GitHub Sponsors brings in a healthy amount of money to the DSF each month, and it's one of

[2020-08-07 04:29] carltongibson commented on #994
Hey @jefftriplett.

The concern is distracting people. I'm not at all convinced that pointing people to an alternate option at the point of action is good interaction design.

I'm not seeing that GHS is such a good option that we should **point away** from the payment form.

(I thought the goal here was to point to the merch store?)

@marksweb Thanks for your work here. Can you open a PR from you

[2020-08-07 08:49] marksweb commented on #994
PR opened.

I think you should have the Github sponsors link, at least in the footer. Your donation form is the focus, it's big & interesting so catches the eye. But then under it people have to read & understand what those links are before they'll click them.

If someone wants to support via GH then great, they already know about the project - they came to the website, so they may come back, or t

[2020-08-07 10:40] carltongibson commented on #994
Hi @marksweb Thanks for the PR. Super. I'll get it in next week!

[2020-08-07 12:08] marksweb commented on #994
You're welcome. If there's anything else that you are looking for contributions on ping me. I've been using django nearly 10 years, it's about time I contributed!!

[2020-08-07 16:32] jefftriplett opened #1016 "Add GitHub Sponsors to website"
This is a follow up from issue #994. The Django Project has a GitHub Sponsors page (https://github.com/sponsors/django), which is not mentioned on the website.

My pitch was to mention it in the "Other ways to give" section so that people who use GitHub would know that they have that option vs. using a third-party option.

Where is the best place to mention this link?

[2020-08-12 09:19] #994 closed

[2020-08-12 09:19] #1016 closed

[2020-08-12 09:22] carltongibson commented on #994
Hi all.

I’ve taken it that #1015 closes this, but original scope seems somewhat bigger. `As inspiration...`A full redesign is not really actionable as such: it’s the sort of thing that could live on the issue tracker forever. Happy to see input in that direction but I think it needs a concrete suggestion — _We’re going to do this!_ — to move it forwards.

I suspect a group from (say) the DSF memb

[2020-08-12 09:22] carltongibson commented on #1016
Link added in #1015

[2020-08-12 09:39] carltongibson commented on #994
And that's updated.

[2020-08-12 14:46] jefftriplett commented on #1016
@carltongibson thank you

![](https://media.giphy.com/media/5ArJanyCfxgiY/giphy.gif)

[2020-08-12 14:49] carltongibson commented on #1016
It's thanks to you and @marksweb, but thanks. 😊

[2020-08-13 19:18] arthtyagi commented on #1003
Google fonts API is actually nice.

[2020-08-13 21:47] resynth1943 commented on #1003
Sure, it's nice, but it's always better to self-host fonts, instead of injecting code [from a third party](https://github.com/google/fonts/issues/2345).

[2020-08-15 16:58] claudep commented on #997
Looks like this has come again :-( See for example https://docs.djangoproject.com/fr/3.1/topics/db/, all is in English currently.

[2020-08-17 08:39] felixxm commented on #997
This is sth different, we still have many warnings about backticks but other translations build properly :thinking: This page is in English only for `el`, `es`, and `fr`. Also other pages for `fr` are translated. I will try to figure it out :detective:

[2020-08-17 10:33] felixxm commented on #997
I manually rebuilt French docs and it works now.

[2020-08-17 10:35] claudep commented on #997
Thanks a lot! Of course, it would be nice to know what's happening when it fails.

[2020-08-17 10:42] felixxm commented on #997
I think that rebuilding docs for all translations takes now more than an hour and it overlaps. I will try to add a lock in the next few days.

[2020-08-24 00:42] resynth1943 commented on #1003
#1019 😉

[2020-08-27 04:29] uri-rodberg commented on #972
I checked and after 3 or 4 days I'm already logged out, even with the same browser session. The login expires after about 1 to 3 days.

[2020-08-30 17:03] pbelskiy opened #1020 "Pin version of documentation"
Hello! It's annoying to select needed Django version in documentation pages when you came from google. I met developers who created custom local JS for auto version selection.

Could we store on client (cookies, local storage) latest selected documentation version and automatically redirect on it?

I could provide PR for this if you are agree with me and other developers. Thanks!

[2020-09-10 15:45] wsvincent opened #1022 "Add Corporate Badges"
The DSF Board has commissioned new corporate badges for the 5 tiers of membership: Diamond, Platinum, Gold, Silver, Bronze. They should be added to the https://www.djangoproject.com/foundation/corporate-membership/ page and available for placement on the sites of approved corporate sponsors in the given calendar year.

I've sent the link with sgvs/pngs to @carltongibson.

Can also bump up the Twit

[2020-09-10 16:00] carltongibson commented on #1022
I'll deal with this next week.

[2020-09-12 09:20] apollo13 opened #1023 "Remove dependency on memcached"
We currently have a memcached and a redis cache configured. We should get rid of one software :)

[2020-09-12 10:09] carltongibson commented on #972
This doesn't seem a real problem to me in my day-to-day usage. (Worst case: I click the login button to refresh the session.)
Short of an actual PR with a proposed change I don't this this is worth effort to address.

[2020-09-12 10:09] #972 closed

[2020-09-12 11:54] sentry-io[bot] opened #1024 "ReCAPTCHA validation failed due to: ['timeout-or-duplicate']"
Sentry Issue: [DJANGOPROJECTCOM-E8](https://sentry.io/organizations/django/issues/1890842012/?referrer=github_integration)

[code]

@carltongibson: I am mostly trying out the Sentry integration here, but this might be something we should look into if it is an recurring issue since it might effect fundraising.

[2020-09-12 11:58] carltongibson commented on #1024
Yep. I'll take a look. Thanks!

[2020-09-15 04:26] Jason-Lee-Quinn opened #1025 "Internal links to parts of the Tutorial have confusing naming"
Working my way through the Documentation's Tutorial, I noticed links to previous parts of the Tutorial are called, eg, "Tutorial 2", "Tutorial 5", etc. Would be better if all links are called eg "Part 2" or "Part 5" since that's how the main page of Documentation introduces them:

Tutorial: Part 1: Requests and responses | Part 2: Models and the admin site | Part 3: Views and templates | Part 4: F

[2020-09-15 08:13] carltongibson commented on #1025
Hi @Jason-Lee-Quinn. Thanks for the report.

So, **yes** nice spot, making things consistent here is a good thing.

This isn't really a ticket for here. The docs live over on https://github.com/django/django. I'm going to close this issue here because of that.

The tickets for Django live on [TRAC (Documentation filter applied)](https://code.djangoproject.com/query?status=assigned&status=new&compo

[2020-09-15 08:13] #1025 closed

[2020-09-19 13:00] xavierlesa opened #1026 "Error on aggregation example"
On [this example](https://docs.djangoproject.com/en/3.1/ref/models/expressions/#aggregate-expressions) must to describe an example with `aggregation` rather than  `annotation`.

[code]

[2020-09-21 10:38] ewjoachim opened #1027 "Language & version switchers are hard to use"
As a user based in France, Google often redirects me to the French version of the doc, but I prefer the original version, so I very often find myself switching between languages on djangoproject.com. Similarly, I often need to switch versions.

The switcher works identically for both:
- put the cursor on the language / version button to trigger the appearance of the choices
- move the cursor to th

[2020-09-21 10:44] felixxm commented on #1026
I don't see any issue with using `QuerySet.annotate()`. For the future, this is the issue tracker for the djangoproject.com website. Documentation bugs should be reported on [Trac](https://code.djangoproject.com/) (as described in the issue template).

[2020-09-21 10:44] #1026 closed

[2020-09-24 03:02] sharmila-polamuri opened #1028 "How to render to specific html div with value from django views?"
I am trying to deploy a machine learning model using Django. Here I am trying to do is take input from the HTML form, predicting value using a trained model, and sending that result value to the HTML page. Still here working good. But I want to go to a specific division(div tag) of the HTML page based on division(div tag) id. Please help me, anyone; how can I fix this problem.

**HTML code**

**Fi

[2020-09-24 05:48] felixxm commented on #1028
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2020-09-24 05:48] #1028 closed

[2020-09-26 06:36] aliya-rahamani commented on #775
Please assign me this task.

[2020-09-26 06:47] carltongibson commented on #775
Hi @aliya-rahamani you don't need to assign. If you'd like to work on it super. Thanks.

[2020-09-28 13:07] pauloxnet opened #1031 "Update documentation search"
Here's an outline of improvements I would add to the documentation search:

- [ ] Upgrade PostgreSQL from 10 to 12 _(to add websearch and more languages)_ [#1030]

- [ ] Upgrade Django from 2.2 to 3.1 _(to add support for websearch query and highlighted search)_

- [ ] Add websearch type for search query _(to permit control on user search)_

- [ ] Add highlighted search results _(to have better re

[2020-09-30 17:13] knyghty opened #1033 "Style guide is outdated"
The style guide - https://www.djangoproject.com/styleguide/ - hasn't been updated since (apparently) 2014, and hasn't kept up. The example for "sidebar left" does not have a sidebar on the left. The only page I can find with a left sidebar is... the style guide. Should it show itself?

Also, I'm not really sure how I know the style guide even exists, I couldn't find any links to it.

[2020-10-08 09:56] carltongibson opened #1035 "Create CSS for Banner styling."
For things like the JetBrains promotion, and the #BLM banner, we added HTML looking like this:

[code]

We should have a CSS declared for such, so we don't have to go looking through the history for the HTML.

Refs #1004, where @collinanderson suggested the line length limit.

[2020-10-15 08:18] #1022 closed

[2020-10-16 06:05] felixxm commented on #1022
I updated the number of followers, it's a flatpage.

[2020-10-25 00:33] thibaudcolas commented on #974
There are a lot of shades of green used on the site currently, but it seems like it’s only the intermediary "bright greens" that are problematic:

<img width="830" src="https://user-images.githubusercontent.com/877585/97096172-2ba77b80-1660-11eb-9fc3-a7133e58e3a5.png" alt="Shades of green for background color, text color, fill, borders on djangoproject.com">

I’d recommend replacing their usage wi

[2020-10-31 14:45] Rajani-salvi opened #1041 "how to write 3 dependant table join query in Django"
iam new in django , I want to create join query in django, my model is as follow

Model.py

[code]
i need query like

    SELECT "area_country"."country_id",
           "area_country"."country_name",
           "area_state"."state_id",
           "area_state"."state_name",
           "area_city"."city_id",
           "area_city"."city_name"

   FROM "area_country"
    LEFT OUTER JOIN "area_state"

[2020-10-31 14:55] felixxm commented on #1041
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2020-10-31 14:55] #1041 closed

[2020-11-03 17:04] dougmellon commented on #1035
Do you mind if I take this?

[2020-11-03 17:58] carltongibson commented on #1035
HI @dougmellon, please do yes. Thanks.

[2020-11-04 21:51] mgorny opened #1042 "Please provide easy-to-download PGP keys for release managers"
Could you please consider providing a reliable and easy way of downloading PGP keys of release managers? Since the poisoning attacks, keyservers are quite unreliable and I don't seem to be able to get them off pgp.mit.edu. At least for FE5FB63876A1D718A8C67556E17DF5C82B4F9D00, the server takes awfully long to respond, then says 'no results found'.

Ideally, include them as regular files on the sit

[2020-11-25 14:05] ANIKET502 commented on #100
i wanna work on this part of project please assign this to me.

[2020-11-25 23:59] marcorichetta opened #1047 "Duplicate in Individual members page"
Hi!

Just came to the foundation's [Individual Members site](https://www.djangoproject.com/foundation/individual-members/) and found **Derrick Kearney** as duplicate.

Not sure where the data is obtained so I couldn't find a way to make a PR.

[2020-11-26 09:32] carltongibson commented on #1047
Hi @marcorichetta — thanks for the report. AFACS these are in fact separate people. Will verify that though. Thanks.

[2020-11-26 09:32] #1047 closed

[2020-11-30 15:23] tobiasmcnulty opened #1049 "Google Search Console: submitted zh-hans / Django 3.1 URLs blocked by robots.txt"
Just started seeing these a few days ago. All 63 URLs are for the `zh-hans` language and Django 3.1. This might be expected (see https://github.com/django/djangoproject.com/commit/9f481df89a8590f8c84341b72b2b51da615315ab), but  wanted to file something for visibility.

![Screen Shot 2020-11-30 at 10 21 29 AM](https://user-images.githubusercontent.com/160132/100628116-dc570980-32f5-11eb-8192-d06641

[2020-12-04 04:06] ANIKET502 commented on #100
please do assign this project issue to me

[2020-12-04 09:15] apollo13 commented on #1042
@mgorny would the suggested approach work for you? Ie ist github reliable enough? :D

[2020-12-04 11:06] mgorny commented on #1042
Yes, I think it would work just fine. Thanks! That said, you may consider including a 'clickable' URL too.

I didn't know GitHub serves keys like this. This is going to be really helpful in the future, thanks!

[2020-12-05 07:00] simkimsia opened #1050 "Broken link for 2.2 branch"
At https://docs.djangoproject.com/en/2.2/howto/ > [Upgrading Django to a newer version](https://docs.djangoproject.com/en/2.2/howto/upgrade-version/)

It shows
![image](https://user-images.githubusercontent.com/245021/101236243-9392bc80-370a-11eb-98af-bd4c0fa3948e.png)

[2020-12-05 12:48] nadege opened #1051 ""Error 503 unable to get local issuer certificate" on https://www.djangoproject.com/"
Discovered when a CI job couldn't reach https://docs.djangoproject.com/en/dev/_object,
seems to affect the whole website.

[2020-12-05 16:44] pauloxnet commented on #1051
I confirm the issue in the whole website:
https://www.djangoproject.com

### Error 503 unable to get local issuer certificate
unable to get local issuer certificate
#### Guru Mediation:
Details: cache...
<hr>
Varnish cache server

[2020-12-05 17:17] jordyvanraalte commented on #1051
I got the same issue.

[2020-12-05 17:37] prasenjit476 commented on #1051
Its resolved now.

[2020-12-05 19:57] #1051 closed

[2020-12-06 06:53] carltongibson commented on #1050
Now resolved.

[2020-12-06 06:53] #1050 closed

[2020-12-06 13:26] benjaoming opened #1052 "Stripe SCA support"
# Background

New EU legislation means that online card payment has to go through the issuer's 2FA. This is known as "Strong Customer Authentication". Some background here: https://support.stripe.com/questions/strong-customer-authentication-sca-enforcement-date

## Solution

AFAIK, in order to process payments for fundraising, Django needs to use newer API and patterns offered by Stripe. I have an

[2020-12-07 09:09] carltongibson commented on #1052
Hi @benjaoming Thanks for this! I will take a proper look tomorrow.

[2020-12-07 10:47] felixxm commented on #1042
I added a clickable link in [the last release notes](https://www.djangoproject.com/weblog/2020/dec/01/django-bugfix-release-314/).

Fixed in https://github.com/django/django/commit/85729545f11257b7790e098fb224637715263616.

[2020-12-07 10:47] #1042 closed

[2020-12-08 14:55] carltongibson commented on #1052
Hey @benjaoming — Thanks again here. It's very clear. I shall have a pop at it and ping you when it doesn't work. 😉

[2020-12-10 07:54] shreyash-web commented on #1033
i would like to work on this issue

[2020-12-10 15:33] carltongibson commented on #1052
Ok, post Thursday update.

We need a slight update to the flow we're using. We'll use the new hosted checkout page. That'll let us use the Portal for managing subscriptions too, which is less code for us.

I'll potter over the weekend and finish next week now.

[2020-12-10 18:13] Sunag3 opened #1053 "Django: OperationalError at / attempt to write a readonly database"
Dear Team, we have deployed our Django application on Centos 7 Server, its working fine, but the Admin page and write peration on the data base i am unable to perform, given all necessary permissions to data base file and also parent directory.
Server has SELinux is enabled for security policies, i have tried giving the httpd unified as 1, but also not worked

PFB details

Request Method: | POST
-

[2020-12-10 18:40] carltongibson commented on #1053
Sorry, this is not a support channel.

[2020-12-10 18:40] #1053 closed

[2020-12-11 05:07] shreyash-web commented on #1033
i would love to work on this issue please assigned me this issue looking forward to wok with you on this issue

[2020-12-13 09:50] adamchainz opened #1056 "Make multi-slash contraction into a redirect"
A user on IRC reported visiting `https://docs.djangoproject.com/en/3.1/intro//tutorial01/` and finding the links to other parts of the docs, such as the settings link, broken. This is because the links sphinx emits are relative (e.g. `../../topics/settings`) and the browser interprets the double slash as an empty folder name.

Currently we collapse multiple slashes into a single one before looking

[2020-12-15 06:49] shreyash-web commented on #1033
so do you want to put same page in i frame tag of left sidebar example or want to change news & event  sidebar to left
i want to work on this issue

[2020-12-15 06:53] shreyash-web commented on #1033
it is very important i guess for beginner who want to learn django

[2020-12-17 22:31] divyankgarg opened #1057 "Getting fields from different app models to another"
We have defined two apps: Manin_matrix and SW_matrix. We want the field name (project_name) present in class GENERAL_t of modle.py file inside Main_matrix app to be inside the models.py file of SW_matrix app. Basically  project_name_work field in class EDVT of SW_matrix models.py should be same as project_name of Main_matrix app.
We want this so that in database for EDVT table we will get the same

[2020-12-17 22:49] shaib commented on #1057
Hi, this place is the bug-tracker for the Django project website. This is not a support channel. You can probably get help about using Django at the Django forum, https://forum.djangoproject.com/

Could you please also elaborate what led you to post your question here, in order to help us make it clearer up-front that this is not an appropriate place for support questions?

[2020-12-17 22:56] divyankgarg commented on #1057
Thanks for correct link.

[2020-12-18 05:15] #1057 closed

[2020-12-29 12:54] carltongibson opened #1059 "Consider adding django-read-only"
I'd quite like to add @adamchainz's https://github.com/adamchainz/django-read-only.

I need to shell into the production DB for #1058 (to check we can make the `stripe_customer_id` fields unique).
That'll be fine. I'll not do anything nasty. But frankly I'd rather have software rails in place to make it impossible to alter the DB whilst in there.

It doesn't have to be turned on by default, but I

[2020-12-30 11:02] carltongibson commented on #1052
Part 1 is #1058 — main donation page.

I'll follow-up shortly updating the _backend_ Manage your donations page.

Finally I'll cleanup and update the Stripe API version to latest and so on.

[2020-12-30 11:44] adamchainz commented on #1059
I'm predictably +1 on this 👍

[2020-12-30 11:49] carltongibson commented on #1059
😄

I used a middleware solution Andrew put out some years ago for a long-while. This seems a recurrent need. Wonder if there's be appetite to add such to core...

[2020-12-30 11:55] adamchainz commented on #1059
Yes it could make sense it core. django-read-only still needs some work though, to be rewritten with a better technique: https://github.com/adamchainz/django-read-only/issues/20

[2021-01-04 15:09] carltongibson commented on #1052
Note to self: I can add max value validator to the donation form (for silly values, which Sentry occasionally reports).

[2021-01-12 11:00] adamchainz commented on #964
Same right now, zero results for 3.1:

![Screenshot_2021-01-12 Search Django documentation Django(4)](https://user-images.githubusercontent.com/857609/104305999-4f42cb00-54c5-11eb-8b8a-194cdc8d7b85.png)

3.0 has results though:

![Screenshot_2021-01-12 Search Django documentation Django(3)](https://user-images.githubusercontent.com/857609/104306029-5a95f680-54c5-11eb-8384-dcae7df20d51.png)

[2021-01-17 06:10] sksankarraj commented on #1035
Seems like this has been fixed.

[2021-01-22 17:58] himanshu007-creator opened #1064 "Dark theme"
Django website is simple and good. But what about the health of developers?
As of now, there is no provision for dark theme.Having a dark theme will improve user experience.I would like to work on this issue.

[2021-01-28 16:15] nemecek-filip opened #1065 "Surface Django blogs (not blog posts) in Community section?"
Hello all,

some time ago I created the [DjangoBlogs.com](https://djangoblogs.com) which serves as a directory of Django bloggers. @adamchainz mentioned previously that it could be a good idea to surface these blogs _(not blog posts)_ in the Django Community section.

I have created a small "mock up" how that could look like: Alternatively this could be called "Django blogs" or something similar.

[2021-01-28 21:29] adamchainz commented on #1065
👍

We have a whole lot of feeds approved and merged into the aggregate feed - 451 at current. I think we'd want to restrict to display sites that have posted in the last year or so.

[2021-01-29 08:55] nemecek-filip commented on #1065
I am not sure if I described my intention clearly. I was asking about the blogs itself to new section, but I think also aggregating their posts can be nice as well.

451 feeds? Wow that is a lot. I don't suppose it is possible to view them? DjangoBlogs.com currently lists 56 blogs and I have hard time finding new ones.

[2021-01-29 21:19] felixxm commented on #1024
We don't use recaptcha anymore.

[2021-01-29 21:19] #1024 closed

[2021-02-01 07:28] Pratikshya1201 commented on #1064
Would you mind if I work on this issue ? I promise to submit it within a week.

[2021-02-01 07:29] himanshu007-creator commented on #1064
we can work in collaboration!

[2021-02-01 07:32] Pratikshya1201 commented on #1064
sure :)

[2021-02-01 07:33] himanshu007-creator commented on #1064
got linkedin?

[2021-02-01 07:35] Pratikshya1201 commented on #1064
yes
https://www.linkedin.com/in/pratikshya-mishra-b84b6b1a9/

[2021-02-05 00:51] MrEscape54 opened #1066 "is_admin field"
Hi, just to mention that in the section below (documentation 3.1) the field` is_admin `is mentioned and it is no longer available. Maybe replacing by is_superuser is adviced.
https://docs.djangoproject.com/en/3.1/topics/auth/customizing/#custom-users-and-proxy-models
Thanks for your effort!

[2021-02-09 10:12] carltongibson commented on #1066
Hi @MrEscape54 — in the example `MyUser` defines the `is_admin` field. Thanks.

[2021-02-09 10:12] #1066 closed

[2021-02-26 16:39] Asday commented on #1064
How's it going?

[2021-02-26 16:41] himanshu007-creator commented on #1064
Hi @Asday sir, i am having exams rn so couldn't work on it

[2021-03-04 16:34] chanduaki opened #1071 "Django Custom Admin Actions"
# Summary:
Django Admin Actions are updating in the django admin panel , but not saving in the Database

# What i need to see?
Update the change in Behavior in the Database

# What i am seeing?
Updating the change in the admin panel , but not saving in the Database

Steps performed:
1.  written the action in the UserAdmin
[code]
2. Updated the Users in the admin panel
3. changed the is_admin_appro

[2021-03-04 20:06] felixxm commented on #1071
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2021-03-04 20:06] #1071 closed

[2021-03-06 14:07] kcoder63 commented on #1064
can I work on this if its still open ?

[2021-03-06 19:32] Asday commented on #1064
Please do, my retinas will thank you.

[2021-03-13 11:27] mh-firouzjaah opened #1074 "translation for django permissions"
hi everybody, I've seen there are some tickets and stackoverflow questions about, `Why django translation doesn't work for Permissions` for example inside the list of permissions for an object of a group or a user instance the list of permissions are not translated, and I found why it is so. also I changed the code to check the result and that was working! so I'm telling the story because I don't

[2021-03-13 15:16] mh-firouzjaah commented on #1074
hello again, I come with a much trickier solution!
this would give the same result as my previous post but here I used a `monkeypatch` way,
I added the code below to a `signals.py` file and imported that inside a subclass of `AppConfig.ready()`:

    # signals.py
    from django.contrib.contenttypes.models import ContentType

    def new_app_labeled_name(self):
        model = self.model_class()

[2021-03-13 16:48] felixxm commented on #1074
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2021-03-13 16:48] #1074 closed

[2021-03-25 06:18] anujpatel224 commented on #977
is anyone working on this issue?

[2021-03-25 07:45] carltongibson commented on #977
@anujpatel224 — not that I know of. We're open to improvements.

[2021-03-28 06:11] minicloudsky opened #1080 "will django stop the mysql version check in the future?"
can you stop this fucking check,it is nonsence and so ugly and terrible,I had to comment the checking code everytime.
 File "/usr/local/lib/python3.6/site-packages/django/db/backends/mysql/base.py", line 36, in <module>
  raise ImproperlyConfigured('mysqlclient 1.4.0 or newer is required; you have %s.' % Database.__version__)
django.core.exceptions.ImproperlyConfigured: mysqlclient 1.4.0 or newer

[2021-03-28 06:39] #1080 closed

[2021-03-28 06:40] carltongibson commented on #1080
This is not the correct venue for issue reports on Django. This is the repo for the website.

The minimum version checks are there because Django requires features that are not available in earlier versions. You'd be well served to not ignore the warnings and update.

[2021-03-31 04:30] bravegag opened #1082 "What are the different folders? is there an up-to-date recommended django-seed-app?"
First time I see this repo and can't make sense of all the folders ... which ones are django source code? example code? application seed? no idea ... the README.md doesn't say. Can anyone recommend an up-to-date web application seed?

[2021-04-06 11:18] erica-lee commented on #1074
Thank you for your tip! It works for me!
But I don't get it well..
In `translation.py`, auth_permission table need to have `name_XX` fields and I don't add fields. But when I migrate, it automatically performs an additional migration action for add `name_XX` fields.
All I have done is modify `app_labeled_name` property for `ContentType`, so why does that work?

[2021-04-23 08:03] GrazingScientist opened #1085 "Documentation for DiscoverRunner not (entirely) correct"
The [documentation on the work of the DiscoverRunner](https://docs.djangoproject.com/en/3.1/topics/testing/advanced/#using-different-testing-frameworks) is not entirely correct.

I am specifically refering to bullet point 2:
[code]

The documentation somewhere around the given list should also state explicitely that only tests are found that have both an `__init__.py` in the base folder AND an `__

[2021-04-25 00:54] ubernostrum commented on #1085
Hi,

This is the issue tracker for the website at djangoproject.com, **not** for Django itself.

If you are looking for help or support with using Django, please follow the links in [our documentation](https://docs.djangoproject.com/en/stable/faq/help/).

If you want to submit a bug report or a feature request to Django (including [documentation](https://docs.djangoproject.com)), you can find inst

[2021-04-25 00:54] #1085 closed

[2021-05-03 09:24] daillouf opened #1089 "Django cron file lock breaks with django 3.2"
Hello everyone !

After I upgraded django to 3.2, I noticed that I had the following error popping up

`django.db.utils.OperationalError: FATAL:  sorry, too many clients already`

I then inspected the postgresql connections, and my processes, and it turned out, that was my django cron jobs that were running multiple times at the same time, thus opening more connections than necessary.

[Django cro

[2021-05-03 09:33] daillouf commented on #1089
on a side note, the returned value from `fcntl.flock` seems to be always «None» when it's not raising an OSError

therefore, the «ret == 0» would always return False in 3.1.7

So i don't believe that many third party apps are relying on the output value of that lock function

it's probably best to return to the previous status where we don't catch any exception in the lock function

[2021-05-03 09:43] daillouf commented on #1089
that's not the right place to report this, see https://code.djangoproject.com/ticket/32708#ticket
sorry for the spam

[2021-05-03 09:43] #1089 closed

[2021-05-19 17:49] adamchainz opened #1091 "Block FLoC"
I suggest we block Google's FLoC on djangoproject.com as I covered [in this post](https://adamj.eu/tech/2021/05/04/disabling-floc-googles-new-advertising-technology/), to increase the privacy of visitors to our site.

[2021-06-07 12:50] boxed opened #1097 "Search for "through" finds nothing"
https://docs.djangoproject.com/en/3.2/search/?q=through

This search should link at least these:

https://docs.djangoproject.com/en/3.2/topics/db/models/#extra-fields-on-many-to-many-relationships
https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.ManyToManyField.through

[2021-06-07 19:07] pauloxnet commented on #1097
In English, the word "through" is a stopword and is ignored in the search against the English dictionary used in PostgreSQL.

From the [PostgreSQL documentation](https://www.postgresql.org/docs/13/textsearch-dictionaries.html#TEXTSEARCH-STOPWORDS):

The English word "through" is not a stopword in another dictionary for example the Italian dictionary, and in fact the search in this language shows r

[2021-06-08 07:20] boxed commented on #1097
I figured it might be something like that. Framework function names and stuff should bypass that logic somehow.

[2021-06-08 08:44] pauloxnet commented on #1097
@boxed I don't think "through" is the only stopwords that matter in search.
Perhaps it would be useful to have a list of these words and then think of a way to ensure that they are not discarded.
Could you write a list of words not to be deleted starting from the official PostgreSQL stopwords list?
https://github.com/postgres/postgres/blob/master/src/backend/snowball/stopwords/english.stop

[2021-06-08 08:53] boxed commented on #1097
Hm.. I don't know about a complete list. But certainly "where" is suspicious as it's a keyword in SQL. This becomes a bit tricky as "where" should probably just be searched when it's in a code block like `select` or similar. I think "now" is a bit doubtful it should be excluded too as it could be something you want to search for like `datetime.now` which I guess the current implementation just int

[2021-06-12 03:54] yash112-lang commented on #1064
Hello @himanshu007-creator, is this issue is still open. I am new to open source & want to contribute.

[2021-06-28 09:36] debasis981 opened #1101 "Run django app on web 80 port instead of 8000 port.Os-centos7,webserver apache2.4"
### Please read this first:

This is the issue tracker for the website at djangoproject.com, **not** for Django itself.

If you are looking for help or support with using Django, please follow the links in [our documentation](https://docs.djangoproject.com/en/stable/faq/help/).

If you want to submit a bug report or a feature request to Django (including [documentation](https://docs.djangoproject.

[2021-06-28 09:57] #1101 closed

[2021-06-29 09:36] felixxm commented on #1091
Fixed.

[2021-06-29 09:36] #1091 closed

[2021-06-29 11:04] rvanlaar opened #1102 "Consider ranking the documentation search results"
I had this experience this morning with the search results. My goals was
 to find the documentation on `on_delete`.

 - I searched for `on_delete`:
 https://docs.djangoproject.com/en/3.2/search/?q=on_delete

 There were 10 results displayed on the first page, and 11 pages in total.
 6 of those results were pre 2.x release notes.

 The most promising result was result number 10: `Model instance
 re

[2021-07-05 11:27] alireza-1184 opened #1103 "Sitemap framework"
Dear,
In site of docs.djangoproject.com in page of sitemap framework in part of "Creating a sitemap index" in example, be forgotten to write: name='django.contrib.sitemaps.views.index' in path('sitemap.xml', views.index, {'sitemaps': sitemaps}),.
If you don't correct this, the function of:
def save(self, force_insert=False, force_update=False): super().save(force_insert, force_update) try: ping_go

[2021-07-10 09:17] shaib commented on #1103
Dear @alireza-1184,

The documentation of Django is managed as part of the project code, not the website code. Thus, The correct place for this report is in the Django Project  bug tracker, https://code.djangoproject.com/

However, before you open a ticket there, I suggest you ask about it using one of the [support channels](https://docs.djangoproject.com/en/3.2/faq/help/).

Thanks for working to

[2021-08-02 13:37] ribrea opened #1107 "Responsive the issues page"
Issues page ain't responsive for mobile view ,
Can i work on that ?

[2021-09-15 13:21] kunals131 commented on #1064
I want to work on this issue, is it still open?

[2021-09-15 13:22] kunals131 commented on #987
I want to work on this issue if its still open

[2021-09-22 08:39] adamchainz opened #1112 "Change searchbox shortcut to ctrl-k/command-k, and make it visible"
One can press the / key to focus the search box, but this is a secret feature. We should surface this - perhaps as easy as changing the search box's placeholder text, or by adding a small `<kbd>` element as can be seen on [tailwind](https://tailwindcss.com/) and [bootstrap](https://getbootstrap.com/docs/5.1/getting-started/introduction/).

[2021-10-06 22:32] Situphen opened #1115 "Documentation's topic guides not available in french for Django 2.2"
No topic guide is available in french for Django 2.2 but they all are for Django 2.1 and Django 3.0. Also, the `topics.po` file exists on the `stable/2.2.x` branch of `django-docs-translations`. The rest of the documentation looks fine (only the topic guides are in english on [this page](https://docs.djangoproject.com/fr/2.2/contents/)).

I apologize if you already knew about this or if it's not t

[2021-10-12 03:39] jam21 opened #1117 "Different RAW query results from django.db.connection and cx_Oracle"
I executed the following query from my Django project shell.
`from django.db import connection
balance_query = "some sql query here"
with connection.cursor() as cur:
        cur.execute(balance_query)
        balance_data = cur.fetchall()
        print(balance_date)`

Then I get result after print as (1, 'F', **_77259668_**) (9, 'R', '24153')

The bold value is wrong

**But**
When I execute same q

[2021-10-12 04:02] felixxm commented on #1117
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2021-10-12 04:02] #1117 closed

[2021-10-20 08:12] carltongibson commented on #1103
Migrated to [Trac ticket-33210](https://code.djangoproject.com/ticket/33210)

[2021-10-25 19:45] knyghty opened #1119 "Dashboard appears to be broken"
https://dashboard.djangoproject.com/

e.g. it says there are 0 commits in the last week, but on GitHub I see there was a commit earlier today (2021-10-25).

[2021-10-27 09:20] #1119 closed, assigned to nobody

[2021-11-12 07:36] pauloxnet opened #1121 "Malcolm Tredinnick Memorial Prize listing not updated for 2020"
https://www.djangoproject.com/foundation/prizes/

We've got Jeff 2019, but not Malcolm 2020.

Announcement post was here https://www.djangoproject.com/weblog/2020/dec/23/2020-malcolm-tredinnick-memorial-prize-awarded-ken/

[2021-11-12 08:13] felixxm commented on #1121
Added, thanks for the report :+1:

[2021-11-12 08:13] #1121 closed

[2021-11-15 14:38] rolandcrosby opened #1122 "Version indicator on should be more prominent"
I ended up on the [Django 2.2 version](https://docs.djangoproject.com/en/2.2/intro/tutorial01/) of the "Writing your first app" tutorial via web search, and didn't realize I was looking at outdated docs until I noticed the URL a few pages in. I realize that 2.2 [is still getting extended support](https://www.djangoproject.com/download/#supported-versions), but regardless this probably isn't the ve

[2021-11-17 05:16] emorozov commented on #1112
I find this feature very annoying. Most of the time I use / key to start search on the page (default Tridactyl keybinding) and due to docs.djangoproject.com intercepting it in a way that is impossible to override (I've tried but failed) I have to press several keys every time when I search something.

Besides, the search feature on docs.djangoproject.com is pretty much useless - I don't use it bec

[2021-11-24 15:50] pauloxnet opened #1123 "Add discord reference in Django community page"
It can be useful to add the URL to join the official Django discord server to the Django Community page:
https://www.djangoproject.com/community/

[2021-11-27 20:10] adamchainz commented on #1112
We could consider changing the key binding, yes. "/" is "quick find" in firefox, so it's an annoying collision.

I notice that some sites e.g. Tailwind use ctrl-k/command-k, which is probably a good sign that it doesn't conflict with anything.

[2021-11-30 01:32] marksweb commented on #1123
@pauloxnet What is the official django discord server?

I've only ever seen an unofficial discord server 🤔

Got a branch ready to put this on if you can share the details 👍

[2021-12-02 20:47] knyghty commented on #1123
I'm the server "owner" and FTR I don't know if I'd call it "official", just that it's run by mostly DSF people, which I would say is not quite the same thing.

However, I think we're probably at the point where we'd like to ask nicely for this - though probably without sharing the link in public just yet.

[2021-12-07 09:07] dracos commented on #964
"auth" on 3.1 works, but just to note that the issue has bumped up another release and there's nothing on 3.2 or dev currently e.g. https://docs.djangoproject.com/en/3.2/search/?q=logout
![image](https://user-images.githubusercontent.com/154364/144999418-17251d2b-6fdb-4f57-9059-4cbf2b1ada4b.png)

[2021-12-07 11:47] adamchainz commented on #964
The search index has refreshed and is working again. There might be a problem around new releases: both Django 4.0 and some security releases were just released.

[2021-12-14 12:49] lokesh1729 opened #1129 "Improve Documentation by having list of topics fixed on the left and table of contents on the right"
Hey all,

I am using Django for a long time. One thing I feel we can improve is that the reading experience of the documentation. Especially when the page is very long. Two problems I can see

1. There is a table of contents on the right side, but it is not fixed and it doesn't follow the page. So, when the page is very long, keeping track of the topic is very very hard and it takes a mental leap

[2021-12-15 10:56] zakirfarahmand opened #1130 "Request Data from SQL Server"
### Please read this first:

This is the issue tracker for the website at djangoproject.com, **not** for Django itself.

If you are looking for help or support with using Django, please follow the links in [our documentation](https://docs.djangoproject.com/en/stable/faq/help/).

If you want to submit a bug report or a feature request to Django (including [documentation](https://docs.djangoproject.

[2021-12-15 10:56] #1130 closed

[2021-12-15 11:04] zakirfarahmand opened #1131 "Request data from a table created inside SQL Server"
Hello folks,
I got a question about requesting data from an already built-in database in SQL server management.

With the Django migration, we can migrate data to a database or create a table, then migrate, but what if we want to do it the other way around. Instead of migrating data from Django to the database, we request data from a specific table the is created in the SQL server.

Any idea?

[2021-12-15 11:06] felixxm commented on #1131
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2021-12-15 11:06] #1131 closed

[2022-01-11 16:54] faizan842 commented on #286
can I work on it?

[2022-01-11 16:55] faizan842 commented on #274
can I work on it?

[2022-01-11 16:55] faizan842 commented on #165
can I work on it?

[2022-01-11 16:56] faizan842 commented on #662
can I work on it?

[2022-01-12 20:56] ndunn219 opened #1137 "Cannot add feeds to Django Community Blog"
There seems to be an issue adding feeds to the Django Community Blog. My feed (https://www.webucator.com/articles/django/feed/) was approved in October by @adamchainz, but hasn't been added. Adam thought there might be an issue with https://superfeedr.com/, which he said was sending out some obscure certificate errors.

[2022-01-17 20:52] boxed commented on #1123
If that page is an honest attempt at getting help to people maybe link to the server where people get helped? Just an idea 😂

[2022-01-18 08:30] knyghty commented on #1123
Ok, now it's more public. We don't get our own URL until there's enough activity but we could use this invite link for the moment, if someone wanted to add it: https://discord.gg/xcRH6mN4fa

[2022-01-18 09:07] boxed commented on #1123
Honest question: why not add a link to the unofficial discord server? It's bigger and more active.

[2022-01-18 11:25] knyghty commented on #1123
@boxed as has been made clear to you and others on the server, any communities linked from the community page must explicitly adopt to the CoC. The unofficial server was given the opportunity to do so, which they refused, so they won't be.

Quite why you choose to bring this up here again -- and presumably link it for your friends to brigade since your comment on a not very active issue on a not v

[2022-01-18 14:47] boxed commented on #1123
...because?

The question I'm asking, in all honesty, is.. what is the point of the page in question? Is it to honestly help people? To honestly describe the actual community that exists?

It seems it's not that. So, then the question is what is the point of the page?

[2022-01-18 14:49] boxed commented on #1123
Does all the blogs you link to on that page implement the CoC for example?

[2022-01-18 15:58] knyghty commented on #1123
I didn't add the page, and I don't know who did, but my understanding of its current utility would be that it provides a curated list of communities that adhere to the core principles of the project as the DSF sees fit -- which includes adhering to the CoC. If you don't like this answer, I'm not sure what to tell you. You'd probably have to take your case to whoever would make that decision, presu

[2022-01-18 16:30] boxed commented on #1123
You just guess and yet for me the bar is to appeal to the DSF, but for you it's nothing. Hmm. You just took your guess and now it's law?

BTW.  I missed this before:

First of all that's just a straight up lie. No Ken said that to the owner or anyone I know on that server.

And again, you just admitted that that's not in fact the case. You just made that up.

[2022-01-18 17:45] knyghty commented on #1123
First of all, I don't really appreciate the hostility. If you don't think you're being hostile, you might consider that you've called me a liar multiple times, and that there may be better ways to make your point or find the truth without resorting to personal attacks. Anyway:

There is a difference between guessing and deducing. Consider:

1. All communities listed on the community page adopt the

[2022-01-18 19:18] boxed commented on #1123
Hmm. But you said

In fact it has not. In fact it hasn't even been mentioned. At all.

Not mentioning isn't "made very clear".

If you don't like being called out in a lie, don't tell them, and if you do by mistake, then own the mistake. Don't get angry at me for telling the truth. We all make mistakes. That's fine.

If I was very generous towards you I could say that you just misspoke. Because wh

[2022-01-18 19:48] SimeonAleksov commented on #1123
For the record, I'm in both servers, and IMO both servers should be available to the public.

Another thing, I don't see a point in this discussion, after all we all want to write some code, it doesn't matter whether it's in an 'unofficial/more official or an official' server.

[2022-01-18 22:07] Kellytubby opened #1142 "Clarification of import in GeoDjango tutorial"
Hi,

I 'think this section requires an edit: https://docs.djangoproject.com/en/4.0/ref/contrib/gis/tutorial/#gismodeladmin

In order for admin.GISModelAdmin to be found, it needs to be imported from django.contrib.gis, not from django.contrib from where ModelAdmin is imported in the previous code snippet.

Otherwise: AttributeError: module 'django.contrib.admin' has no attribute 'GISModelAdmin'

H

[2022-01-19 06:15] felixxm commented on #1142
`GISModelAdmin` should be imported from `django.contrib.gis.admin`, as in the `admin.py` example on this page. Moreover, this is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2022-01-19 06:15] #1142 closed

[2022-01-21 10:11] pauloxnet opened #1144 "Missing Open Graph meta tags to our website"
At the moment the previews of the contents of our site on the various social networks do not appear due to the lack of Open Graph meta tags or specific social tags (eg: Twitter, LinkedIn, Facebook, ...)

This is an example of the Django 4.0 release news displayed on Twitter, which is missing the preview container:
![Screenshot 2022-01-21 at 10-59-37 Django ( djangoproject) Twitter](https://user-im

[2022-01-22 11:48] SalishKumar opened #1145 "mysql client not working on m1"
I have  installed native m1 python 3.9, project working perfectly with sqlite but when I switch database to mysql although I have downloaded mysql client
I get below error
(venv) (base) salishkumar@Salishs-MacBook-Pro tiffinwala % python3 manage.py makemigrations
Traceback (most recent call last):
  File "/Users/salishkumar/backend/tiffinwala/venv/lib/python3.9/site-packages/MySQLdb/__init__.py",

[2022-01-22 11:49] felixxm commented on #1145
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2022-01-22 11:49] #1145 closed

[2022-02-03 04:52] auvipy commented on #1031
I will be working on this, hope you will review

[2022-02-03 06:31] pauloxnet commented on #1031
I'll review for sure. I opened this issue waiting for the migration to a newer version of Django and PostgreSQL.

[2022-02-08 19:22] #1107 closed

[2022-03-06 02:08] #930 closed

[2022-03-07 01:58] dougharris opened #1150 "Improve dates for LTS end date"
The table of end of support dates on the [download page](https://www.djangoproject.com/download/) shows only month and year for the end of support for future dates. For example, end of extended support for Django 2.2 LTS is listed as "April 2022."

It's not clear if this is the beginning or end of the month (or some other time).

Before being directed to this issue tracker, I mistakenly created [t

[2022-03-08 11:10] carltongibson commented on #1150
Sorry but, I agree with the previous sentiment.

Over a three-year life-span of an LTS I don't see the need to narrow down the EOL date more precisely. LTS versions have over 18months of overlap in which to upgrade — asking which exact day in the very last month is EOL seems to be missing something.

It also pays to leave a little vagueness. Who's to say that we might not issue one-more release if

[2022-03-08 11:10] #1150 closed

[2022-03-08 11:58] felixxm commented on #1008
3rd party packages have been updated.

[2022-03-08 11:58] #1008 closed

[2022-03-09 13:36] ccurvey commented on #1020
I'd add to this the ability to pin the version of Django that I am currently using (I'm often a release or two behind the current version, much less the dev version)

[2022-03-13 12:43] wail-asad opened #1156 "Django Migrations: Local field 'id' in class 'ModelName' clashes with field of the same name from base class"
* Platform: windows11
* Django version: 4.0.3
* Python version: 3.9.6

# Description:
## I have this code :
[code]
 ## When I updated to this :
[code]
##  At **migrate**, it gives this issue.

[2022-03-13 13:09] #1156 closed

[2022-03-14 15:17] Asday commented on #1064
Please, if anyone is reading this - just work on it.  The issue has been open for over a year and keeps dying in the water with people abandoning it without a word and disappearing in a puff of smoke.

It's simple CSS recolouring work.  If anyone was working on it, there would be a PR open in days, if at all that long.

In the meantime, I've written this CSS userscript for docs.djangoproject.com w

[2022-03-14 16:49] sarthak0527 commented on #1123
Hi @pauloxnet , I'm new to community  would like to try to contribute. Can I work on this?

[2022-03-29 08:36] jnns commented on #1112
Coincidentally, <kbd>CTRL</kbd>+<kbd>k</kbd> is a keyboard shortcut for focusing the search/address bar in both [Firefox](https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly#w_search) and [Chrome](https://support.google.com/chrome/answer/157179?hl=en&co=GENIE.Platform%253DDesktop#zippy=%2Caddress-bar-shortcuts). Maybe that's why Tailwind chose it in their docs to

[2022-04-13 16:05] Doomse opened #1159 "FAQ:Admin contains incorrect information regarding list-filters on ManyToManyFields"
The FAQ about the admin page concerning [list filters for ManyToManyFields](https://docs.djangoproject.com/en/dev/faq/admin/#my-list-filter-contains-a-manytomanyfield-but-the-filter-doesn-t-display) states that the filter won't display if there are fewer than two  related objects, since filtering with only a single option would be meaningless.

In reality however, the filter already displays when

[2022-04-13 17:32] felixxm commented on #1159
This is the issue tracker for the djangoproject.com website. Documentation bugs should be reported on [Trac](https://code.djangoproject.com/).

[2022-04-13 17:32] #1159 closed

[2022-04-20 13:28] #1123 closed

[2022-04-20 13:47] carltongibson commented on #1137
From time to time we see an error here, but I'm at a loss as to how to debug.

I'm wondering if superfeedr.com is a reliable dependency here? 🤔

[2022-04-20 13:50] adamchainz commented on #1137
I tried to approve another feed yesterday and it also failed - is that the error you saw? Could you share a stack trace?

[2022-04-20 13:57] carltongibson commented on #1137
[code]

Now is that them saying our certificate has expired... 🤔

[2022-04-20 14:21] carltongibson commented on #1137
Error is being raised in Django-push here:

https://github.com/brutasse/django-push/blob/ee83ff553aa4bdf2ff969f5443971450cdd25eb5/django_push/subscriber/models.py#L136

Hitting the callback URL there **doesn't raise** the SSL error — our certificate is fine AFAICS.
🤔

[2022-04-20 14:23] carltongibson commented on #1137
(We don't have a lot of feeds. Fetching them each once a day ourselves might be better than a flaky dependency...)

[2022-04-21 11:11] JohnPaulGummapu commented on #1144
Hey @pauloxnet, I would like to try to fix this issue.

[2022-04-21 12:46] carltongibson commented on #1144
@JohnPaulGummapu -- please do give it a look! 👍

[2022-04-21 15:10] snehlata08 opened #1161 "Webhook listener with csrf"
I want to create a webhook listener for a third party app. But fot this i have to use `@csrf_exempt` .
Without using the above my web app isn't allowing the third party app to send the webhook data. It blocks it and says forbidden.

My question is if we do it without the csrf token can it cause a security vulnerability? What are the other ways to handle this securely.

[2022-04-21 17:23] felixxm commented on #1161
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2022-04-21 17:23] #1161 closed

[2022-04-21 18:07] JohnPaulGummapu commented on #1144
`
<meta property="og:url" content="https://www.djangoproject.com/weblog/2022/mar/01/bugfix-release/">
<meta property="og:type" content="website">
<meta property="og:title" content="Django bugfix release: 4.0.3 | Weblog | Django">
<meta property="og:description" content="">
<meta property="og:image" content=" //add photo src here//">

<meta name="twitter:card" content="summary_large_image">
<meta p

[2022-04-21 21:53] adamchainz commented on #1137
Superfeedr looks like a useful service since it can normalize between the different feed types. But perhaps there is something up with the requests django-push is making, or perhaps our credentials have expired? Can you double check that?

[2022-04-22 06:09] carltongibson commented on #1137
@adamchainz I think this is Superfeedr reporting an error when trying to send a request to our callback URL. (Not us making a request to them.)

AFAICS they’re reporting a certificate issue, where testing the same thing manually none exists.

[2022-05-01 13:03] MaxDragonheart commented on #1144
I'm facing in the same problem...

[2022-05-08 23:44] nwwl15 opened #1163 "Django"
New to djangi

[2022-05-09 04:35] #1163 closed

[2022-05-11 15:09] ShreyasKolpe opened #1164 "Error integrating with MySQL view: "Unknown column in 'field list'""
I could not find any reference or issue regarding integrating with _MySQL views_, apart from the setting Meta.managed to `False`. However, since I want my database lifecycle to _always_ be managed outside of Django, I set Meta.managed to `False` for each model corresponding to a table. I also did this for the model corresponding to the MySQL view, and expected things to work fine. However, when I

[2022-05-11 15:50] felixxm commented on #1164
This is the issue tracker for the djangoproject.com website. Please see [TicketClosingReasons/UseSupportChannels](https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels) for ways to get help with Django usage.

[2022-05-11 15:50] #1164 closed

[2022-05-25 08:40] #441 closed

[2022-06-01 13:28] wsvincent opened #1171 "Improvements to the Corporate Sponsor Experience"
This is an open listing of ideas around improving the corporate sponsor experience and thus raising more money for Django itself. The focus is on small addressable things rather than a redesign.

- [ ] Homepage... put sponsors on the bottom in order based on sponsorship tiers as VueJS and many other sites do?
- [ ] Sidebar... use existing space to highlight sponsors if above a certain tier? Not ju

[2022-06-02 16:09] ericholscher commented on #1171
I think another good example of a prospectus for Django is here: https://fund.django-rest-framework.org/topics/funding/ -- It seems more approachable, and I think is the actual value you're selling with the fellows.

Just a reminder to sell *benefits* instead of *things*. So, you're not "funding the fellow program", you're "getting new features on a regular basis that your devs need" and "investin

[2022-06-03 15:01] adamchainz commented on #1137
Yeah that is what it is, I just wanted to be sure. I found their support is on GitHub and that there's [this issue](https://github.com/superfeedr/documentation/issues/155) open since November covering the same problem. No reply from them, so I guess they aren't maintained. To be sure, I've emailed the support address, but I would guess it's time to try migrate off indeed.

[2022-06-03 15:22] carltongibson commented on #1137
Might be good for the DjangoCon sprints if we don't make it before.

[2022-06-20 12:35] parfeniukink opened #1173 "Django sync_to_async takes infinite time with asgiref==3.5.2"
Django==3.2.13
asgiref==3.5.2

If you will try to decorate any ORM function with `sync_to_async` you will wait forever.

[2022-06-20 15:14] carltongibson commented on #1173
Could you open a ticket on the Django issue tracker providing a minimal sample project that demonstrates this please: https://code.djangoproject.com

Thanks.

[2022-06-20 15:14] #1173 closed

[2022-07-19 10:45] pauloxnet commented on #964
I close this issue because it seems a problem that occurs only temporarily in the update of the documentation

[2022-07-19 10:45] #964 closed

[2022-07-19 11:09] pauloxnet opened #1177 "Broken local command due to a breaking change in MarkupSafe 2.1.0"
# Steps

Step to reproduce it locally:

[code]

# Cause

MarkupSafe  introduced a breaking change in 2.1.0 (https://github.com/pallets/markupsafe/issues/286)

# Solution

Explicit pin the `MarkupSafe` verison in requirements to 2.0.1

[2022-07-19 13:14] adamchainz commented on #964
@pauloxnet I don't think this should be closed. The window of time for which search can fail is non-negligible. I don't have exact timings but from memory it's felt broken for at least an hour. If this occurs relatively frequently, e.g. for every release, that's quite a lot of downtime per year...

[2022-07-19 13:22] pauloxnet commented on #964
@adamchainz If you think so feel free to reopen this issue.
I opened the PR #963 to re-add the `update_docs_and_index` to contextually index the documentation index search when update the docs.
If some of you can review that PR we can solve this issue I think.

[2022-07-21 05:15] #1177 closed

[2022-07-21 06:47] pauloxnet opened #1179 "Missing cache directory in gitignore"
# Steps

After local test execution:

[code]

A `cache` directory is present:

[code]

# Solution

Add `djangoproject/cache` to `.gitignore`

[2022-07-21 06:57] pauloxnet opened #1181 "Outdated README instructions"
# Steps

I used the instructions from the README to execute locally all the steps and some of them are outdated, use mixed instruction formats or need a minimal formats fix.

# Solution

Update the README file

[2022-07-21 21:07] pauloxnet opened #1184 "Formatting code with black"
In the same way as Django's code was formatted with Black in [PR #15387](https://github.com/django/django/pull/15387), I propose to apply it to the code of this repository.

[2022-08-01 14:21] SvenMoenig opened #1191 "MariaDB does not support unique constraints with conditions. This is not documented in the docs."
Hi,
I have a project, that uses a MariaDB database and tried to add an UniqueConstraint with a condition to my model. Because nothing to the contrary is stated in [the docs](https://docs.djangoproject.com/en/3.2/ref/models/constraints/#uniqueconstraint), I expected that this was supported and was quite surprised by this Warning:
[code]
I think, a note about this should be added to the documentatio

[2022-08-01 17:57] felixxm commented on #1191
We cannot document all caveats. The current warning should be enough.

Moreover, this is the issue tracker for the djangoproject.com website, not for Django itself.

[2022-08-01 17:57] #1191 closed

[2022-08-14 12:18] HassanShafiq123 commented on #1184
Hi, I would like to do this. please assign this issue to me.

[2022-08-17 20:41] mohamadArdestani opened #1195 "Bad request error 400 by graphql request"
Hello
I setup a django project and use graphene for graphql integration.
the qraphql query work very well in graphql playground but when I try fetch query from react app by js fetch the server return **Bad request 400** .
`export async function fetchDiets() : Promise<Diets|any> {

    fetch('http://127.0.0.1:8000/graphql/', {
      method : 'POST',
      mode: 'no-cors',
      credentials: 'includ

[2022-08-17 20:52] frankwiles commented on #1195
This repository is only for issues related to the djangoproject.com website.  Please find resources for help with Django itself here https://www.djangoproject.com/community/

[2022-08-17 20:52] #1195 closed

[2022-08-20 18:14] thehassantahir opened #1196 "Document Download Issue (pdf)"
Hello,

When downloading PDF format of offline django document version 4.1 site redirects on

and page shows an error

`<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>pdf/django/4.1.x/django.pdf</Key>
<RequestId>NVDVVEC3CZMP1TGT</RequestId>
<HostId>BuJJ5Eqh7v44sfv1NlQRSLU1CXCLRq3o+m5gTge/VX7GM0mODeNwzOuAf9btv1RPaGCjUFohT5g=</HostId>
</Error>`

[2022-08-21 10:55] carltongibson commented on #1196
Thanks. This will be resolved by https://github.com/readthedocs/readthedocs.org/issues/9525

[2022-08-21 10:55] #1196 closed

[2022-09-01 19:27] akshayicad opened #1197 "Django login_required doesn't work with multiple gunicorn workers"
So I have a project which contains **multiple micro-services**, the entry point is the **Django micro-service**(with user login & authentication).
All other Apis are wrapped with the `@login_required` decorator by Django.
I've deployed it using **ngnix**, **gunicorn** inside a **kubernetes** **pod**.
Everything works fine with **1 worker(sync)** but I obviously want multiple workers, so when I **i

[2022-09-01 19:50] frankwiles commented on #1197
This repository is for the djangoproject.com website only.  You can find community resources for help with Django itself here https://www.djangoproject.com/community/

[2022-09-01 19:50] #1197 closed

[2022-09-04 09:52] pauloxnet opened #1199 "Add pre-commit Hooks"
To add support for pre-commit hooks via [​pre-commit](https://pre-commit.com/). Specifically, I propose to add some basic hoks, the flake8 and isort hooks, with appropriate guidance added to the contributing docs.

[2022-09-04 10:07] pauloxnet opened #1200 "Add more languages search support"
Original multi-language search support was based on PostgreSQL 10, but after the P[ostgreSQL 12 update](https://github.com/django/djangoproject.com/pull/1151) we can add new supported language in the search configuration.

[2022-09-04 16:41] pauloxnet opened #1202 "Speed-up update index command and add tests"

[2022-09-05 07:57] pauloxnet opened #1204 "Use websearch type for search query"
Use [websearch](https://www.postgresql.org/docs/12/textsearch-controls.html#TEXTSEARCH-PARSING-QUERIES) type for search query _(to permit control on user search)_

[2022-09-14 13:31] #1181 closed

[2022-09-14 14:48] #1204 closed

[2022-09-14 15:24] #1179 closed

[2022-09-14 17:12] Viicos opened #1206 "Getting 503 errors on docs website"
I've been getting some HTTP 503 errors for a few days now when using the docs website:

[code]

Interestingly enough it is happening when trying to access a specific page (e.g. `https://docs.djangoproject.com/en/4.1/search/`), but accessing other parts of the docs is working fine. Changing the language sometimes fixes it.

Any idea where this could be coming from?

[2022-09-14 17:29] rsiemens commented on #1206
Also getting this periodically as well. I'm seeing it happen on https://code.djangoproject.com/, https://www.djangoproject.com/weblog/, and https://docs.djangoproject.com/.

Example of a req/response with Firefox 101.0.1

[code]

[2022-09-14 17:55] rsiemens commented on #1206
Things seems to be working again for me.

[2022-09-14 18:05] carltongibson commented on #1206
Looks to be resolved at the moment. Thanks.

[2022-09-14 18:05] #1206 closed

[2022-09-14 19:22] #1199 closed

[2022-09-14 19:23] #1200 closed

[2022-09-14 19:24] #1202 closed

[2022-09-15 02:41] CuriousLearner commented on #974
Hello @rixx

Can you please let us know why this issue was closed? Apparently there is a PR #998 opened for it.

[2022-09-15 10:14] rixx commented on #974
I don't recall why I closed this – I may have assumed that this was either merged or wasn't going to get merged two years after not seeing any movement on it. Happy to reopen!

[2022-09-21 17:23] MarkusH opened #1209 "Upgrade PostgreSQL to version 14"
From the Django Ops team, we'll be upgrade PostgreSQL to version 14. We'll update here when the process is done.

- [ ] https://github.com/django/djangoproject.com/blob/92c7038bd4dceaaa736083ccccf36006e52313c1/docker-compose.yml#L26
- [ ] https://github.com/django/djangoproject.com/blob/92c7038bd4dceaaa736083ccccf36006e52313c1/.github/workflows/tests.yml#L18

[2022-09-21 22:43] apollo13 commented on #1209
Fixed https://github.com/django/djangoproject.com/commit/21147c56df0282eb99e5ee87c53bae1dda4fcbc8

[2022-09-21 22:43] #1209 closed

[2022-09-22 08:36] pauloxnet opened #1211 "Align the languages supported with PostgreSQL 14"
After the upgrade of PostgreSQL 12 to 14 [ #1210 ] we can align also the list of supported languages for full-text search

[2022-09-22 13:17] #1211 closed

[2022-09-26 10:38] knyghty commented on #974
@thibaudcolas on the docs site there are also red (for some reason?) links on the docs pages: https://docs.djangoproject.com/en/4.1/ - not sure if you want to add those to your palette.

[2022-09-29 21:10] CuriousLearner commented on #1184
This looks promising! Let me know if you'd need any help.

[2022-09-30 10:20] pauloxnet commented on #1184
Please don't ask to work on this issue but propose a PR if you want to work on black formatting.

[2022-09-30 11:02] carltongibson commented on #1184
Applying the formatting here should assign the django-bot as the commit author, and once merged we should follow up adding the commit to be ignored in git blame. (Cf the matches changes in Django for a guide).

[2022-09-30 13:49] rixx commented on #165
I don't think we have code highlights anywhere on the start page anymore; looks like we can just close this issue?

[2022-09-30 16:05] carltongibson commented on #165
Indeed.

And the docs' choice of highlighter seems OK.

E.g. https://docs.djangoproject.com/en/4.1/intro/tutorial01/

Let's close.

[2022-09-30 16:05] #165 closed

[2022-09-30 22:47] zanderle opened #1216 "Add Google reCAPTCHA to DSF Contact Form"
We get a ton of spam on a daily basis through the [DSF Contact Form](https://www.djangoproject.com/contact/foundation/), which makes it really hard to find actual messages (they get lost in a sea of spam messages). The form uses Akismet to filter out spam, but it doesn't seem to be very effective.

Maybe using something like Google reCAPTCHA could help us to reduce the spam? I'm open to other solu

[2022-10-01 04:25] CuriousLearner commented on #1216
Carlton [added reCaptcha to fundraising page](https://github.com/django/djangoproject.com/pull/1078/files). I think we can use the same package and add a captcha field in the `DonateForm`.

Let me know what you think.

[2022-10-01 07:41] zanderle commented on #1216
@CuriousLearner just to clarify, I was talking about [FoundationContactForm](https://github.com/django/djangoproject.com/blob/main/contact/forms.py#L67), but yes, that sounds perfect! 👍

[2022-10-01 10:02] pauloxnet commented on #1064
FYI the work on this issue is going on in the PR #1213

[2022-10-01 10:13] pauloxnet opened #1219 "Add StaleBot"
Idea copied from DRF PR [#8423](https://github.com/encode/django-rest-framework/pull/8423)

[2022-10-01 10:22] CuriousLearner commented on #1216
Oh sorry, yeah, I wrote `DonateForm` instead of `FoundationContactForm`. `DonateForm` has this re-captcha added.

Let me give this a try.

[2022-10-01 10:24] pauloxnet opened #1221 "Add highlighted search results"
Continuing the work on #1031 "Updating the documentation search" it will be an improvement to restore the highlighted terms function in the search results page that was implemented years ago.

[2022-10-01 12:50] #1216 closed

[2022-10-03 09:09] #1219 closed

[2022-10-04 05:47] carltongibson commented on #1171
This is not stale. Rather it's something we should steer effort towards.

[2022-10-04 08:27] pauloxnet commented on #1144
I don't think this is stale. We only need a PR to start working on it.

[2022-10-04 08:30] pauloxnet commented on #1112
I don't think this is stale. We only need a PR to start working on it.

[2022-10-04 12:22] carltongibson commented on #1137
Again, this isn't stale. Rather we need to work out how to replace the super feeder service

(A cron job with feedparser may be enough here 🤔)

[2022-10-04 12:22] CuriousLearner commented on #1129
This is not stale. I think a discussion is needed before closing this issue (if that is the choice made).

[2022-10-04 15:31] CuriousLearner commented on #662
This is not stale. This is still a valid issue that is needed to be addressed.

<img width="710" alt="Screen Shot 2022-10-04 at 9 00 33 PM" src="https://user-images.githubusercontent.com/8039608/193861831-71beb8a7-d9af-4dda-b090-06cd926ebbd5.png">

[2022-10-04 16:02] carltongibson commented on #1115
This seems resolved in later versions.

[2022-10-04 16:02] #1115 closed

[2022-10-04 16:44] pauloxnet opened #1225 "Increase days in stale bot config"
As suggested by @carltongibson I'll increase the days in stale bot configuration file.

[2022-10-04 18:29] #1225 closed

[2022-10-04 21:19] pauloxnet commented on #1097
We can try to create a custom English dictionary without relevant words for Django.

[2022-10-04 22:14] MarkusH commented on #1052
/unstale

[2022-10-05 06:10] carltongibson commented on #1059
I think there's value in this, and it would be a good ticket for someone to pick up

[2022-10-05 06:20] carltongibson commented on #1052
@cgl This was the holding issue for the Stripe updates we were discussing at DjangoCon.

Basically, we'd like to use the Stripe hosted portal, and then remove the direct API integration code, closing the related issues (We have OK from the board for that, and things like privacy policy and T&C to add to the site and all that Jazz — but we ran out of steam into 🦠 ...)

[2022-10-05 06:56] knyghty commented on #1033
This is still relevant, but probably waiting until we switch colour palettes in https://github.com/django/djangoproject.com/issues/974 - or it could just be removed as it's not linked from anywhere.

[2022-10-05 06:57] carltongibson commented on #1033
If we have bandwidth, I think a style guide is useful to have.

Fonts, colours, spacing... the CSS that exists to apply those, and so on.

[2022-10-05 08:18] CuriousLearner commented on #1102
This is not stale.

[2022-10-05 09:11] cgl commented on #1052
Hey @carltongibson thanks for pointing out. I can work on it. Is there any draft work I should be aware of other than the merged PR? I will have a better look later.

[2022-10-05 09:34] carltongibson commented on #775
This is related to #1052 — Using the Stripe hosted portal, recurring donations would be managed there.

[2022-10-05 09:54] carltongibson commented on #1049
I think this must have been expected. In later releases we only exclude the the internal and releases sections, which is correct.

https://github.com/django/djangoproject.com/blob/d71dd4750307743cd0cfdbb6dfa56c3e4802b200/djangoproject/static/robots.docs.txt#L51-L52

[2022-10-05 09:54] #1049 closed

[2022-10-05 09:59] ewjoachim commented on #1027
Well, I'm still waiting for the PR to be processed !

[2022-10-05 10:47] carltongibson commented on #1035
I looked at this for #1227 — I still think this would be a good idea, but I was a bit put-off by the existing CSS (relative to the head-space I had for it this morning.)

Taking in the rule for limiting the width (as per above here) just needs a bit of double-checking.

[2022-10-05 10:57] carltongibson commented on #1023
We should implement this.

[2022-10-05 11:06] pauloxnet commented on #1102
I had already read this Issue and I did not find a clear proposal for improvement and it can be closed for me, but I left open in case others had a different opinion.

If you think that this issue is not stale perhaps write a motivation about it, otherwise the Issue remains open but without new information to work on.

Sorry if I only used this Issue as an opportunity to speak in general about the

[2022-10-05 11:10] pauloxnet commented on #1023
I don't know the real infrastructure in which the site is deployed. Which cache we are using in production: Memcached or Redis? Knowing this information we could open a correct PR.

[2022-10-05 13:21] carltongibson commented on #1052
Hey @cgl.

Right, yes... 😜 — I got to a certain point with this implementing the Stripe portal, and then we needed Privacy Policy and such, which I got drafts for some time later, but never got back to.

* You'll need access to Stripe. (I'll email ref that.)
* Then the first pass is to redirect from the Hero page (≈"Manage your donation") to the Portal, and let folks use that. (I have a very minim

[2022-10-05 15:08] apollo13 commented on #1023
So yes https://github.com/django/djangoproject.com/blob/main/djangoproject/settings/prod.py#L15-L32 lists two caches I'd argue that one of those can be removed. I think we might wanna remove memcached assuming we are using some special features from redis? So first and foremost it is a question of how we use those backends (code-wise) and then we can see about removing one.

[2022-10-05 16:12] #1002 closed

[2022-10-05 17:02] carltongibson commented on #999
This is a duplicate of #1137

[2022-10-05 17:03] #999 closed

[2022-10-05 18:53] knyghty commented on #729
This is still an issue that should be fixed.

[2022-10-06 01:01] timgraham commented on #868
I'd think we'd have some recent activity since 2019 if this were still an issue, so closing, at least for now.

[2022-10-06 01:01] #868 closed

[2022-10-06 06:37] carltongibson commented on #936
This no longer applies since we moved the payments to hosted checkout page.  (Refs #1052.)

[2022-10-06 06:37] #936 closed

[2022-10-06 06:40] carltongibson commented on #952
Hey @nemecek-filip — sorry you never got a follow up here. Are you still up for this? Yes, please I think.  😅

Fancy making a PR for it?

[2022-10-06 06:41] carltongibson commented on #377
@pauloxnet Do you think this is something you might be able to drum up some volunteers to lead? (It seems like a nice idea right?)

[2022-10-06 06:44] carltongibson commented on #883
Similar to #377. @pauloxnet Perhaps there's a mini-project here if we gather a group of similar tickets? 🤔

[2022-10-06 06:45] carltongibson commented on #878
@tobiasmcnulty — Could I ask you to confirm whether this still applies? (It looks quite addressable I think 🤔)

[2022-10-06 06:47] carltongibson commented on #877
@tobiasmcnulty Hi, similar to #878, is this still valid? (again, seems quite addressable if so 🤔)

[2022-10-06 07:13] carltongibson commented on #836
AFAICS that page isn't directly editable, so this would be an issue with Trac itself, hopefully resolved in a future version when we can update. (I don't know if there's an upstream issue)

[2022-10-06 07:13] #836 closed

[2022-10-06 08:05] carltongibson commented on #377
Not really, those all sound good. _"A bit of advertising"_ 😄 — We can chat at DjangoCon to come up more of a plan. Thanks @pauloxnet!

[2022-10-06 08:15] #987 closed

[2022-10-06 08:16] pauloxnet commented on #377
Yes, a bit of "ethical advertising" to boost internal projects.
Maybe we can make a list of interesting internal projects we think it worth to promote.
We can  promote this projects also in other "channels" (es: Django News, Django Chat, ...) ?

[2022-10-06 08:17] carltongibson commented on #100
Without an extended description I'm not sure this is really actionable. (What exactly was being proposed?)

[2022-10-06 08:17] #100 closed

[2022-10-06 08:21] carltongibson commented on #220
This issue doesn't now reproduce for me on Safari or Firefox.

[2022-10-06 08:21] #220 closed

[2022-10-06 08:24] carltongibson commented on #788
@zanderle How's it going since Captcha is on on the contact form since 92d67c5bb7fa5f83e5cc80e0c7a9a83fb32e4d09 ? Can we mark this closed? Is there more we might do?

[2022-10-06 08:44] pauloxnet commented on #1031
@carltongibson I created this issue to track progress on multiple issue related to docs search.
I think it can be useful to convert this issue in a 'project' but I don't have the permission on this repository to do that. Do you think can be useful using projects to organize issue with a common goal ?

[2022-10-06 08:47] carltongibson commented on #1031
@pauloxnet Yep, no problem--let me have a rummage.

I was just noting three groups:

- General website type fixes
- Translating the site (or sections of)
- Improving the Fundraising (including Stipe integration)

[2022-10-06 08:51] carltongibson commented on #1031
@pauloxnet I enabled Projects. Please let me know if you can do what you need. If not I'll look again. Thanks!

[2022-10-06 08:55] pauloxnet commented on #1031
@carltongibson thanks! I let you know as soon as I can do a test.

[2022-10-06 09:12] pauloxnet opened #1228 "Add explicit note about the browser bar integration via OpenSearch description"
The Django documentation search can be added to the selectable search engines with your browser (e.g. Firefox) to search the Django documentation directly in the search bar or browser URLs.

This feature is not documented as far as I know and if it is, it is not so straightforward to understand how to use it.

I attach a screenshot showing how the browser (e.g. Firefox) offers me the possibility o

[2022-10-06 09:12] pauloxnet opened #1229 "Improve the UX/UI in the search results page (to help choosing the right results)"

[2022-10-06 09:29] adamchainz commented on #1112
Just noticed that MDN also uses Command-K / Ctrl-K. I think we should copy this convention.

[2022-10-06 10:52] carltongibson commented on #392
Fixed by https://github.com/django/django/pull/15808 I think.

[2022-10-06 12:08] carltongibson commented on #720
This ties-in with #1171 (and general effort to improve sponsorships/fundraising) — Allowing folks to login and edit their details, as well as donations (#1052) is all of a one.

[2022-10-06 13:00] timgraham commented on #1219
Hello Paolo, For what it's worth, I think this is a lame way to handle old issues. The result seems to be Carlton triaging all isses that the bot comments on. You could have asked him to do that without a bot adding noise. Should a useless "issue still valid" comment be required every 180 days? Why not have a human triage each issue now that more people are maintaining this site? Using a bot comes

[2022-10-06 17:01] timgraham commented on #207
At this point, the status quo seems fine.

[2022-10-06 17:01] #207 closed, assigned to nobody

[2022-10-06 17:03] timgraham commented on #120
I guess this isn't important.

[2022-10-06 17:03] #120 closed

[2022-10-06 17:17] timgraham commented on #990
stalebot, please don't close.

[2022-10-06 17:18] timgraham commented on #784
It seems this isn't happening.

[2022-10-06 17:18] #784 closed

[2022-10-06 17:20] timgraham commented on #274
Eight years later, I guess we can say this isn't that important.

[2022-10-06 17:20] #274 closed

[2022-10-06 17:22] timgraham commented on #977
I guess Google works fine for search bar suggestions.

[2022-10-06 17:22] #977 closed

[2022-10-06 17:23] timgraham commented on #187
I guess the status quo is fine. There aren't many changes that need to be synced.

[2022-10-06 17:23] #187 closed

[2022-10-06 17:24] timgraham commented on #1020
I think this idea came up somewhere before and was rejected. I'm going to say 'wontfix."

[2022-10-06 17:24] #1020 closed

[2022-10-06 17:32] carltongibson commented on #784
I agree this isn't happening.

There's a recurrent discussion about how to better assist/publicise/... content in the Django realm. A discussion on the DSF Members list to establish a _What we might do_ (circa 2022) would still be worthwhile I think, if someone motivated comes this way.

[2022-10-06 17:38] timgraham commented on #835
stalebot, please don't close.

[2022-10-06 17:40] timgraham commented on #720
I think this is a wontfix. The bio/website fields were added, but then removed because not enough members filled them out and the DSF Board thought it was awkward.

[2022-10-06 17:40] #720 closed

[2022-10-06 17:41] timgraham commented on #811
I guess the restriction is fine. How many characters do you need and why?

[2022-10-06 17:41] #811 closed

[2022-10-06 18:09] carltongibson commented on #1219
Thanks @timgraham. It's really handy to have you go over and make a quick call on a lot of the older ones! 🎁

[2022-10-06 18:17] timgraham commented on #767
The 404 page covers the entire website, not just the documentation, so adding the docs-specific search bar doesn't seem right. Probably it could be done in a complicated fashion, but we've survived without it.

[2022-10-06 18:17] #767 closed

[2022-10-06 19:21] pauloxnet commented on #753
The multilingual search is working for the latest stable version.
Try it:
https://docs.djangoproject.com/fr/4.1/search/?q=default_app_config

[2022-10-06 19:21] #753 closed

[2022-10-06 19:23] timgraham commented on #753
I wonder why it gives only one result for french, but four results for english (https://docs.djangoproject.com/en/4.1/search/?q=default_app_config)?

[2022-10-07 01:36] timgraham commented on #764
The problem seems plausible. I suppose removing `donation.stripe_subscription_id = ''` from the cancel donation view would fix this. As long as the stripe webhook comes through, it will [run the same statement](https://github.com/django/djangoproject.com/blob/e5a4bf20fb58c463441c15d552c022b03f716858/fundraising/views.py#L234). I'm not sure if there would be a noticeable delay for the user though (

[2022-10-07 01:37] #706 closed

[2022-10-07 01:39] #751 closed

[2022-10-07 06:13] carltongibson commented on #307
I'm not convinced about this. If e.g. Florian/Markus/Mariusz were to take it up that would be one-thing, but otherwise I don't think it's likely to happen.

[2022-10-07 06:13] #307 closed

[2022-10-07 06:22] carltongibson commented on #766
This will be resolved by completing #1052

[2022-10-07 10:44] timgraham commented on #203
stalebot, please don't close.

[2022-10-07 10:45] timgraham commented on #241
stalebot, please don't close.

[2022-10-07 10:56] timgraham commented on #126
stalebot, please don't close.

[2022-10-07 13:35] #1064 closed

[2022-10-07 13:46] Asday commented on #1064
I'm not familiar with the release cadence of the website - when will #1213 be live?

[2022-10-07 14:31] nemecek-filip commented on #952
Hi @carltongibson damn! Had no idea I opened this three years ago :D

I think I can look into this! I opened Issue to first discuss the new "design", I assume by PR you mean to also edit the site to surface the wallpapers there?

[2022-10-07 14:33] carltongibson commented on #952
Presumably we have the wallpapers in the static folder somewhere, so updating those... (It's Friday... 🥳)

Also, see the related Badges ticket. A refresh there at the same time would be phenomenal.

I don't think we'll muster a conclusion on a committee for designs, so better to proposed something concrete; we can always adjust later.

Thanks @nemecek-filip! 🎁

[2022-10-07 16:40] pauloxnet commented on #1102
@rvanlaar we're using the PostgreSQL full-text search function.
All search engine need a bit of time and effort to set them up and increase it's precision and speed.
For example after switching from an external search engine to PostgresQL full-text search we  added multilingual search, html code removal and others features that require time and effort.
We're still working to improve it thanks to u

[2022-10-09 01:10] timgraham commented on #756
Closing as wontfix.

[2022-10-09 01:11] timgraham commented on #403
Could be useful but who will implement it? Better to keep things simple, I suppose. Closing as wontfix.

[2022-10-09 01:11] #403 closed

[2022-10-09 01:17] timgraham commented on #1065
It's not entirely appropriate in that section because the items that appear are time-based (new blog posts, new job postings, etc.) whereas mew blogs aren't being created each day. Anyway, I think it's best to continue your initiative on your own site rather than add more complexity to djangoproject.com (which has historically lacked consistent maintainers).

[2022-10-09 01:17] #1065 closed

[2022-10-09 01:19] timgraham commented on #198
I'm not sure if any style tweaks were made since this issue was created, but it may still be relevant. (stalebot, please don't close.)

[2022-10-09 09:53] knyghty commented on #1003
Well, okay, I had a quick look at system fonts but for some areas it looks bad. See screens. I am not sure about the nav bar, I think it's maybe an improvement but much longer using my system font (presumably SF Pro), but the big banner text "Django makes it easier ..." looks really bad. Probably we should choose a different font for headers, ideally something that is installed on (most) people's

[2022-10-09 10:39] pauloxnet commented on #1003
The screenshot without Google Fonts looks fine for me.

For my blog I used PicoCss which is ultralight and does not use external fonts.

Here is an extract from its CSS in case it may be of interest.
[code]
https://github.com/picocss/pico/blob/master/css/pico.classless.css#L10

[2022-10-09 10:46] pauloxnet commented on #198
Maybe this issue is superseded by #974 and can be closed ?

[2022-10-09 11:13] knyghty commented on #1003
Okay, if you're happy with it I'll press on 👍🏻

[2022-10-10 14:31] tobiasmcnulty commented on #878
It looks like Google has changed the error message here, but maybe this is fixed? There are far fewer of the similar error, and none for URLs of the documentation.

<img width="992" alt="Screen Shot 2022-10-10 at 10 27 14 AM" src="https://user-images.githubusercontent.com/160132/194889309-919b35d2-89d6-4045-b725-bfccb1cc809c.png">

That said, there appears to be a related issue with the 'docs' sit

[2022-10-10 14:34] tobiasmcnulty commented on #877
Yup, this still looks like a valid issue:

<img width="962" alt="Screen Shot 2022-10-10 at 10 33 37 AM" src="https://user-images.githubusercontent.com/160132/194890575-83cf25bf-2646-4854-a756-6907dbe496c0.png">

[2022-10-11 19:29] xi opened #1234 "Menu button is not a button"
The menu button for the mobile navigation is not accessible by keyboard because it is a `<div>` instead of a `<button>`

[2022-10-12 14:09] megaden commented on #1112
Hey guys, I prepared [a PR #1236](https://github.com/django/djangoproject.com/pull/1236) with the fix for this one, PLMK what do you think.

[2022-10-12 15:30] pauloxnet commented on #1234
How can your reporting of yours be verified in concrete? How would you change the button?

[2022-10-13 00:13] #1027 closed

[2022-10-13 11:33] knyghty commented on #1003
This isn't completed, at least the monospace font is still coming from Google Fonts

[2022-10-13 12:16] pauloxnet commented on #1003
The issue closed automatically. I reopened it.

[2022-10-13 16:11] jezdez opened #1237 "Dark mode button misaligned"
The button for toggling the dark mode isn't aligning correctly with the menu text (Safari on macOS). It's best to not use button padding to do that, since it won't behave like the line height of regular text.

<img width="220" alt="CleanShot 2022-10-13 at 18 08 32@2x" src="https://user-images.githubusercontent.com/1610/195649320-512761e8-3d51-464b-ae1e-6a0170ec2795.png">

[2022-10-13 16:22] jezdez opened #1238 "Revamp typography (and design?) to account for dark mode changes"
There seems to be a confluence around #1003 that this is somehow a good thing to just undo design choices without considering the implications (non I could see in the pull requests) on usability and aesthetic.

Please spend some time to talk to a designer about typography before changing the fonts (#1232) and/or color scheme (#1213) of the site.

[2022-10-13 19:45] cgl opened #1239 "Add list of Django meetups"
A list of Django meetups can be featured under community tab.
https://forum.djangoproject.com/t/django-meetups/376

[2022-10-13 20:04] JonG0uld commented on #1239
[work in progress global list of django meetup groups](https://docs.google.com/spreadsheets/d/18B0qVtjcyVB2gx-UuVgpA78TAcYMOKbGi_hJIInGvdY/edit?usp=sharing)

[2022-10-14 12:23] NerdvanaNC opened #1240 "Text too light to read on the documentation pages' search bar in Light Mode."
### The Issue:

Using Light mode on the docs page makes the search bar's text color extremely light and difficult to read.

### Steps to recreate:

Visit https://docs.djangoproject.com/ and try typing anything into the search bar.

### Potential Fix:

The cause is setting the search bar's ```color``` property to ```color: var(--hairline-color);``` - changing this to ```color: var(--body-fg);``` in

[2022-10-14 22:43] pauloxnet commented on #1240
Thanks for the report, can you open a PR with your potential fix and attach o it a screenshot ?

[2022-10-15 06:06] NerdvanaNC commented on #1240
@pauloxnet I've created a pull request fixing this issue. :)

[2022-10-15 07:55] pauloxnet commented on #1240
Thanks. I reopened this issue because is not her fixed, please leave open until a PR will fix it.

Can you attach two screenshots that show your fix in action with light and dark mode?

[2022-10-15 08:05] NerdvanaNC commented on #1240
Oh, sorry - I didn't realize I shouldn't mark this as fixed. I've attached a total of 4 screenshots here - each of them shows the problem in both Light/Dark mode and the fix in both Light/Dark mode.

_The issue only exists in Light Mode, but I've attached Dark mode screenshots too showing that my fix works in both modes._

![djangoDarkModeAfterFix](https://user-images.githubusercontent.com/1385032

[2022-10-15 08:10] pauloxnet opened #1242 "Revert the usage of system font stack for sans-serif text"
As the first step of #1238 I propose to revert #1232 , that is not been deployed jet, so we can continue deploy newer PR without that one.

That let us to discuss more this point and study a soft way to avoid using Google Fonts but at the same time have a consistent typography and design (eg. hosting the Roboto font directly)

[2022-10-15 08:22] pauloxnet commented on #1238
@jezdez I'm reverting #1232 with the PR #1242 can you take a look ?

[2022-10-15 08:26] pauloxnet commented on #1240
Thanks. I'm going to merge your PR because right now the input search is not usable and we want to fix that.
But maybe in the future we can reconsider colors, fonts and design of the site.

[2022-10-15 11:11] kailashchoudhary11 opened #1244 "Alert Message Not Visible in Dark Mode!"
If we try to see the documentation of the django versions < 3.2., a djanger alert message is displayed. But, in the dark mode the text is not readable!

[2022-10-15 14:34] #952 closed

[2022-10-15 14:37] #1244 closed

[2022-10-16 22:18] marksweb commented on #1023
From a code perspective I'd agree with @carltongibson - drop to a single cache so the docs & site use the same redis db. There isn't that much in the project using cache beyond the basics so a single instance would do it.

Unless of course, the metrics on the infrastructure show's theres a need for a split setup.

However, the built-in redis backend is new in django 4.0 right? And the site is stil

[2022-10-16 22:26] marksweb commented on #377
@carltongibson @pauloxnet I'll pick this up. 👍

[2022-10-17 00:33] marksweb commented on #883
@carltongibson @pauloxnet I'll pick this up as I've started #377 by addition translation tags to it.

I've started to pull the language selector from the docs in. Will carry this one while you guys are enjoying yourselves 😂

[2022-10-17 13:29] RyanWalker277 commented on #1234
@pauloxnet The menu button is indeed a div , yet it works perfectly , I faced no issue as the button not being clickable .I tested the website on multiple mobile browsers but didn't find any such problem.Attaching screenshot for refrence.

![image](https://user-images.githubusercontent.com/32684077/196188942-39737369-6442-4898-9cac-9790a3e6875d.png)

[2022-10-17 14:33] xi commented on #1234
Let me be more specific about the steps to reproduce the issue:

Imagine you are a user with bad sight and bad hand-eye coordination. So you zoom in 400% and use the keyboard to navigate.

Expected experience: I can use the tab key to get to the menu button, and use the space key to open the menu.

What happens instead: The menu button is skipped. Instead the focus moves directly to the (invisible

[2022-10-17 15:04] JonG0uld commented on #1239
All events on meetup.com now listed.

[2022-10-17 16:36] #1242 closed

[2022-10-18 19:36] sentry-io[bot] opened #1252 "N+1 queries fetching releases on docs pages"
Sentry has detected an N+1 problem fetching the releases when rendering docs pages.

e.g. Sentry Issue: [DJANGOPROJECT-WJ](https://sentry.io/organizations/django/issues/3679279200/?referrer=github_integration)

It's multiple URLs, so my first guess would be in the version switcher.

[2022-10-18 19:37] carltongibson commented on #1252
E.g. Rendering: [https://docs.djangoproject.com/en/4.1/search/](https://sentry.io/organizations/django/issues/?project=30468&query=is%3Aunresolved%20url%3A%22https%3A%2F%2Fdocs.djangoproject.com%2Fen%2F4.1%2Fsearch%2F%22)

[code]

[2022-10-18 19:50] carltongibson commented on #1252
Maybe the `get_all_doc_versions` template tag 🤔

* Defined: https://github.com/django/djangoproject.com/blob/main/docs/templatetags/docs.py
* Used: https://github.com/django/djangoproject.com/blob/main/docs/templates/docs/doc.html

[2022-10-18 19:50] kalafut commented on #974
I'd like to add another example that I was going to report before ending up on this issue. Here's the search box, which is barely readable in light mode:

<img width="398" alt="image" src="https://user-images.githubusercontent.com/211880/196529795-7f6b9434-1bb6-4b3f-a189-22103b7c9ea0.png">

[2022-10-18 20:23] RyanWalker277 opened #1253 "Side-Scrollbar on the website breaks the focus while reading"
### Issue

The broad sidebar on the website looks extremely annoying , grabbing the user's attention and breaking the focus while reading the website contents. The sidebar should either be removed completely or minimized so that it doesent grab the user's attention and dosent break the focus ,  while mantaining the ability to scroll.As of now , the issue exists only on chrome and edge browsers.

#

[2022-10-18 23:52] camilonova commented on #1253
I'm not sure how this is actually needed. I think it would depend on each OS/browser's settings.

[2022-10-19 19:54] ewjoachim opened #1255 "Text rended as red on red (dark mode)"
Following [this comment](https://github.com/django/djangoproject.com/pull/1246#issuecomment-1284084949).

On dark mode (using Firefox), on outdated versions in the docs (e.g. https://docs.djangoproject.com/en/1.10/ ), the text of the banner appears in red over red, so it's purely impossible to read it without selecting it.

![Screenshot from 2022-10-18 08-52-51](https://user-images.githubuserconte

[2022-10-19 21:06] zachborboa commented on #392
Thanks for reopening. Will work on one

[2022-10-20 06:14] RyanWalker277 commented on #1255
Would like to work on this

[2022-10-20 06:22] zachborboa commented on #392
Will enable the "sphinx.ext.linkcode" extension and implement `linkcode_resolve()`.
https://www.sphinx-doc.org/en/master/usage/extensions/linkcode.html

[2022-10-20 10:33] lcfd commented on #1238
Hi! 👋

I don't know if this is the best place to leave some comments but I'll try anyway.

(Disclaimer, those are all my opinions. I don't want to sound arrogant or say it's the absolute truth.)

Dark mode
- The text color in the green buttons should be white. At the moment is black and it's not that readable.
- The links in the documentation (https://docs.djangoproject.com/en/4.1/) should be in a

[2022-10-20 10:50] RyanWalker277 commented on #1238
@lcfd I think you should open an issue and mention all the details about your problem , I would like to work on this if the mantainers approve it

[2022-10-20 11:05] JonG0uld commented on #1239
I've changed it now so that the link should work for "view" permissions

[2022-10-20 16:05] adamchainz commented on #1239
Cheers!

[2022-10-20 16:59] camilonova commented on #1255
@RyanWalker277 feel free to work on it. Take this PR as inspiration https://github.com/django/djangoproject.com/pull/1246/files

[2022-10-20 19:31] RyanWalker277 commented on #1255
Thanks @camilonova , I would gladly work on this issue. And thanks for providing the refrence , It's really helpful.

[2022-10-20 19:58] zachborboa commented on #392
created https://github.com/django/django/pull/16203

[2022-10-20 21:29] sabderemane commented on #1240
Can be closed now I think

[2022-10-20 21:33] #1240 closed

[2022-10-24 10:30] RyanWalker277 commented on #1255
@camilonova I am finding it difficult to load the docs of older versions of Django on localhost , by default , the script only loads the docs of the latest version , I would like to load the docs of all versions of Django on order to solve the issue , can you help me with this?

[2022-10-24 16:29] sabderemane commented on #198
I don't think so, accessibility have been improved in dark mode but light mode have still issues (I tried to keep the light mode has it was) and it's also related to the multiple shade of colors we have. @xi have started [a PR](https://github.com/django/djangoproject.com/pull/1233) which will address parts (entirely?) the issue.

[2022-10-24 21:32] sabderemane commented on #1255
Hi @RyanWalker277 , you can add this code in a json file  :
[code]
and load those data with the loaddata command : `python -m manage loaddata <name of your json file>`. It will load add the 1.11 release documentation in database.

After that, you can update the local documentation to get the 1.11 documentation : `python -m manage update_docs_and_index`.
Next, you can update directly in database th

[2022-10-25 15:53] sabderemane commented on #1255
@RyanWalker277 you have done this part ?

[2022-10-25 15:57] RyanWalker277 commented on #1255
Yes I did , ideadlly it should have loaded the `1.11` after this step but it didn't.When I ran the command again , this was the output

![image](https://user-images.githubusercontent.com/32684077/197822973-20886706-26a5-4354-8dc4-1b579d2ea249.png)

[2022-10-25 17:30] sabderemane commented on #1255
Alright, then try `python -m manage update_docs --force`

[2022-10-25 18:49] lcfd opened #1259 "Proposal of changes to the Django website after dark mode addition"
Hi! 👋

I want to propose some changes to https://www.djangoproject.com/.

I have already written here https://github.com/django/djangoproject.com/issues/1238.

Dark mode
- The text color in the green buttons should be white. At the moment is black and it's not that readable.
- The links in the documentation (https://docs.djangoproject.com/en/4.1/) should be in a shade of green. At the moment they

[2022-10-25 19:00] pauloxnet commented on #1259
I would propose to create an issue for each of the points proposed by @lcfd that we consider valid.

[2022-10-25 19:33] sabderemane commented on #1259
I just want to add some context before:
- The dark mode currently is the light mode with more contrasted colors according accessibility issues (and avoid to make too many breaking changes)
- The green buttons are taking the current background color as it was in light mode
- The code snippets are from a theme defined by an external library

IMO, if it's changed, it should take in consideration all

[2022-10-26 06:26] RyanWalker277 commented on #1255
Tried that , but facing an error during building of sphinx docs.On googling the error , I found out that `note_versionchanged()` method was depricated in v1.8.0 and removed at v3.0.0 of sphinx.Not sure how to fix this , the only fix seems to change my sphinx version , but not sure how to do it.

![image](https://user-images.githubusercontent.com/32684077/197950356-f64e01f3-e45c-4156-a597-85d959dae

[2022-10-26 09:36] #1252 closed

[2022-10-26 12:30] sentry-io[bot] opened #1261 "N+1 queries in aggregator.views.index"
Sentry Issue: [DJANGOPROJECT-YV](https://sentry.io/organizations/django/issues/3698277128/?referrer=github_integration)

Iterating the feed items we're repeatedly fetching the related feed.

[2022-10-26 12:31] carltongibson commented on #1261
https://www.djangoproject.com/community/

[2022-10-28 16:46] sentry-io[bot] opened #1263 "N+1 Query in aggregator.views.FeedListView"
Sentry Issue: [DJANGOPROJECT-Z5](https://sentry.io/organizations/django/issues/3703198792/?referrer=github_integration)

[2022-11-07 16:24] #1263 closed

[2022-11-07 23:18] sabderemane commented on #1253
Echoing @camilonova , I'm not sure it's actually needed, but If we take in consideration the most annoying part, which is I think the color of the scrollbar, we can change it but it can fallback to the default if [the property is not working on the OS/browser](https://caniuse.com/?search=scrollbar).

IMO, we can't set `overflow: hidden` it's breaking the accessibility to me, we will need to redefi

[2022-11-08 12:56] sabderemane commented on #1255
FYI: to avoid to have this issue for too long and already discussed with @RyanWalker277, I will handle this issue and make a PR this week ASAP.

[2022-11-13 17:56] #1237 closed

[2022-11-13 17:58] #1255 closed

[2022-11-14 16:14] #1144 closed

[2022-11-14 17:27] pauloxnet opened #1269 "Broken dark/light toggle button on Firefox"
The dark/light toggle button on Firefox is cut in half.

I tested it on Ubuntu 22.10 with Firefox 107.0

![Screenshot djangoproject.com on Firefox 107.0 in Ubuntu 22.10](https://user-images.githubusercontent.com/521097/201725636-9ba83c96-48ea-42e4-add1-67549a12994f.png)

In the same PC with Ubuntu 22.10 the toggle button works on webkit-base browser as Chromium  107.0.5304.87 and Epiphany/Gnome We

[2022-11-14 17:31] pauloxnet commented on #1269
I've the same issue on Android 13 with Firefox 106.1.0
![DjangoProject on Android 13 with Firefox 106.1.0](https://user-images.githubusercontent.com/521097/201726421-a5007729-36d7-47e3-95ab-af4a679d46cd.png)

[2022-11-15 11:30] Yasir761 commented on #1269
Hello there,
I would love to work on this issue, can you please assign this to me?

[2022-11-15 12:51] pauloxnet commented on #1269
You can start working on this and comment here after you opened a PR.

On Tue, Nov 15, 2022, 12:31 Mohammad Yasir ***@***.***> wrote:

[2022-11-15 12:59] Yasir761 commented on #1269
Thank you, very much.

[2022-11-16 17:50] vindio opened #1270 "Community page not updating feeds"
There seems to be an issue fetching and displaying feeds in [Django Community](https://www.djangoproject.com/community/)

Django links, Django Q&A, New/Updated Django Packages, Django Jobs and Community blog posts are not properly updating its contents. Displayed items are from 2009 and 2011.

Ordering is also broken. Section headers are repeated with only a few items each time instead of displayi

[2022-11-17 05:13] youker-Shawn commented on #1270
This has been happening for about 2 weeks.

[2022-11-17 09:33] carltongibson commented on #1270
@CuriousLearner There are up to date `FeedItems` in the DB. (e.g. latest date modified Nov. 17, 2022, 9:21 a.m.)

https://github.com/django/djangoproject.com/commits/main/aggregator — There's the changes from @saadmk11, but I don't spot an obvious regression there 🤔

Could it be related to #1137? (That's about adding new feeds rather than feed items, but we need a replacement story there...)

[2022-11-17 10:15] CuriousLearner commented on #1270
I think the ordering is coming from the model itself rather than the view, so there isn't a regression there, but let me check the other thread to see if I've any ideas.

[2022-11-17 10:42] saadmk11 commented on #1270
Looks like https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#grouping-on-other-properties does not work for a double foreign key relation (`feeditem.feed.feed_type`). That's why we are getting duplicates. Locally I was using a small number of items and one feed for each type so I did not see this issue.  Probably best to revert the changes made here: https://github.com/django/djangopro

[2022-11-17 10:44] carltongibson commented on #1270
@saadmk11 Good work. Can you make that PR?

(Can the original issue be fixed with an appropriate prefetch...? 🤔)

[2022-11-17 12:01] saadmk11 commented on #1270
@carltongibson Created a PR https://github.com/django/djangoproject.com/pull/1273

We can do something like this:

[code]

But that causes an issue with fetching all the items in memory (not a  problem if there are handful of feed items) and we only need `5` per category. I am not aware of a way to prefetch using a slice (maybe possible with a SubQuery?)

[2022-11-17 12:54] carltongibson commented on #1270
@saadmk11 — Let's look at it in a fresh PR if we can please. Test cases using `assertNumQueries` like you added in ff6c87a3bf54df7bf8f504c36e82a27f2cf1c6c7  will tell us what we need to know. Thanks!

[2022-11-17 12:55] carltongibson commented on #1261
There was a regression in https://github.com/django/djangoproject.com/pull/1262. See #1273. Reopening.

[2022-11-17 12:58] #1270 closed

[2022-11-17 13:31] carltongibson commented on #1270
Looks more like it...

<img width="754" alt="Screenshot 2022-11-17 at 14 30 45" src="https://user-images.githubusercontent.com/64686/202459562-98d722a0-b5f1-4a8c-af99-a6a6ba644705.png">

Thanks all!

[2022-11-21 15:32] Rmaravanyika commented on #1239
Ideally where should this be placed and how are we going to maintain it going forward?

[2022-11-23 16:10] VenkataBhaskarr opened #1276 "Add Click to copy text for commands present in the official Django website."
As I am following through the Django project tutorial in the official Django website there are so many commands like below, so adding a click to copy text would be a time saver.

Before :

<img width="783" alt="Screenshot 2022-11-23 at 11 32 30 AM" src="https://user-images.githubusercontent.com/111889155/203481536-369be822-7f8d-479d-b151-cf118f57616e.png">

After :

<img width="704" alt="Screensho

[2022-11-24 11:45] himanshu007-creator commented on #1276
I would like to work on that issue

[2022-11-24 12:45] carltongibson commented on #1276
There's a Sphinx copy button extension: https://sphinx-copybutton.readthedocs.io/en/latest/ — looking into adapting that would be good.

* What's the HTML it outputs?
* What's the static file we'd need to include.

The docs aren't raw sphinx HTML. We use the JSON builder, and then insert the body into a Django template.

[2022-11-26 05:46] VenkataBhaskarr commented on #1276
yes if we used Sphinx copy button extension the ouputs are as follows

I have added ```sphinx_copybutton``` in extensions in conf.py file in docs folder.

BEFORE :

<img width="668" alt="Screenshot 2022-11-26 at 10 56 32 AM" src="https://user-images.githubusercontent.com/111889155/204073990-4ba46b74-acb5-4d20-bc55-02d1714a5739.png">

AFTER :

<img width="663" alt="Screenshot 2022-11-26 at 10 56 24

[2022-11-29 08:17] sophocodes commented on #1122
Hi @pauloxnet can I work on this issue? I think it's good to introduce me to the Django project 😊

[2022-11-29 14:59] pauloxnet commented on #1122
In the documentation I already see banners for unsupported versions and for the development version, I'm not sure if you want to show warnings for supported Django versions as well, for example 3.2 LTS could legitimately be used with the intend to update only when the next LTS release comes out, so it might be annoying for users to see warnings in this case.

I'd like to read other people's commen

[2022-11-30 08:18] elxcode commented on #1122
Okay, I see. So I will wait :)

[2022-11-30 11:54] #1184 closed

[2022-11-30 14:43] #1261 closed